$c-gray: #DDDDDD;
$c-gray-light: #EAEAEA;
$c-gray-firm: #E3E3E3;
$c-gray-border-input: #ECECEC;
$c-gray-unchecked: #c1c1c1;
$c-gray-background-input: #FAFAFA;
$c-gray-txt-modal: #4A4A4A;
$c-white: #FFFFFF;
$c-blue: #112B51;
$c-blue-button: #374C6C;
$c-blue-toolbar: #0B2C4D;
$c-blue-light: #67B2E8;
$c-add: #039BE5;
$c-green:  #94BB20;
$c-green-light: #47F242;
$c-green-disabled:  rgba(148, 187, 32, 0.60);
$c-green-firm: #A6C146;
$c-yellow-back-input: #FFFFE5;
$c-yellow-border-input: #FBF065;
$c-black: rgba(74, 74, 74, 0.7);
$c-black-light: #646464;
$c-button-gray: #5C6B87;
$c-black-table-header: #4A4A4A;
$c-black-modal-firm: #4B4B4B;
$c-black-table-striped: #F2F2F2;
$c-red-remove: #FF5721;
$c-yellow-remove: #FDFED3;
$c-remove: #BF565A;
$c-red: #D74C46;
$c-red-plus: #F55023;
$c-orange: #FFB000;
$has-error-color: #e8dcdc;
$has-error-fore-color: #f87f7f;
