$c-gray: #DDDDDD;
$c-gray-light: #EAEAEA;
$c-white: #FFFFFF;
$c-blue: #112B51;
$c-blue-light: #67B2E8;
$c-blue-tabs: #5E9CED;
$c-green:  #94BB20;
$c-green-light: #47F242;
$c-green-disabled:  rgba(148, 187, 32, 0.60);
$c-black: rgba(74, 74, 74, 0.7);