div.pos-r
	h3.m-0.title {{title}}
	md-content.poster
				md-card.pb-3.pt-15px.pos-r
					div.row.m-0
						div.col-lg-5.col-md-12.col-xs-12
							div.row.mb-1
								small.card-text.mb-1.col-xs-12 Vigentes
								div.price.col-xs-12 54 Usuarios
									i.material-icons.green check

							div.row
								span.tag.col-lg-6.col-md-4.col-xs-7.mt-1
									small.tag-text.col-xs-6 Administradores
									small.tag-value.col-xs-6 4
								span.tag.col-lg-6.col-md-3.col-xs-5.mt-1
									small.tag-text.col-xs-7 Operadores
									small.tag-value.col-xs-5 40
								span.tag.col-lg-10.col-md-6.col-xs-6.mt-1
									small.tag-text.col-xs-6 Apoderados
									small.tag-value.aling.col-xs-6 10

						div.col-lg-7.col-md-12.col-xs-12.border-left
							div.row.mb-1
								small.card-text.mb-1.col-xs-12 Solicitudes

							div.row
								div.col-xs-4.mt-1
									ui-knob(value="rating.admin.value" options="rating.admin.options")
								div.col-xs-4.mt-1
									ui-knob(value="rating.apoderados.value" options="rating.apoderados.options")
								div.col-xs-4.mt-1
									ui-knob(value="rating.operadores.value" options="rating.operadores.options")

					div.action-container
						div.action.text-center
							md-button.md-fab.success
								i.material-icons.rotate90 import_export
							div.button-text.text-center Crear regla
						div.action.text-center
							md-button.md-fab.success
								i.material-icons person_add
							div.button-text.text-center Crear perfil


