div.pos-r(ng-cloak ng-if="list.length")
  h3.m-0.title {{title}}
  md-tabs.component.account-list.md-no-animation(md-dynamic-height md-stretch-tabs="auto")
    md-tab(label="Cuenta Nº {{item.name}}" md-on-select="onTabSelected(item)" ng-disabled="item.disabled" ng-repeat="item in list")
      md-content.poster
        md-card.pb-3.pt-15px.pos-r
          div.row.m-0
            div.col-lg-5.col-md-12.col-xs-12
              div.row.mb-1
                small.card-text.mb-1.col-xs-12 Monto Disponible
                div.price.col-xs-12 {{item.data.montoD}}
              
              div.row
                span.tag.col-xs-6.mt-1(ng-repeat="tag in item.innerDataLeft")
                  small.tag-text.col-xs-6 {{tag.text}}
                  small.tag-value.col-xs-6 {{tag.value}}
                
            div.col-lg-7.col-md-12.col-xs-12.border-left
              div.row.mb-1
                small.card-text.mb-1.col-xs-12 Línea de Crédito Disponible
                div.c-green.price-green.col-xs-12 {{item.data.creditoD}}

              div.row
                span.tag.col-xs-6.mt-1(ng-repeat="tag in item.innerDataRight")
                  small.tag-text.col-xs-6 {{tag.text}}
                  small.tag-value.col-xs-6 {{tag.value}}

          div.action-container
            div.action.text-center(ng-if="buttonSaldo")
              md-button.md-fab.success
                i.material-icons timeline
              div.button-text.text-center Saldo y Movimientos

            div.action.text-center(ng-if="buttonTransfer")
              md-button.md-fab.success
                i.material-icons.rotate90 import_export
              div.button-text.text-center Transferir

            div.action.text-center(ng-if="buttonCreditSubmit")
              md-button.md-fab.success
              div.button-text.text-center Solicitar Crédito

            div.action.text-center(ng-if="buttonTransferNew")
              md-button.md-fab.success(ng-click="newTransference()")
                i.material-icons.rotate90 import_export
              div.button-text.text-center Nueva Transferencia

            div.action.text-center(ng-if="buttonCredit")
              md-button.md-fab.success
                i.material-icons attach_money
              div.button-text.text-center Solicitar Créditos

            div.action.text-center(ng-if="buttonCreditLine")
              md-button.md-fab.success
                i.material-icons attach_money
              div.button-text.text-center Pagar Línea de Crédito

            div.action.text-center(ng-if="buttonCreditLineUp")
              md-button.md-fab.success
                i.material-icons arrow_upward
              div.button-text.text-center Solicitar Aumento Línea de Crédito

div.mt-8(ng-cloak ng-if="!list.length")
  md-card.p-3.not-found
    div.row
      div.col-lg-3.col-md-3
        img(src="images/logo.png")
      div.col-lg-6.col-md-6
        h3 Ud No posee Cuentas Corrientes Disponibles
      button.col-lg-2.col-md-2.button-success SOLICITAR