// for loading font-awesome icons
$fa-font-path: '~font-awesome/fonts/';

@import '~font-awesome/scss/font-awesome';

/*===========================================
===== Loading Custom Setup of Variables =====
=============================================*/
// @import 'vars/typography';
// @import 'vars/body';

/*===========================================
========= Loading Bootstrap Styles ==========
=============================================*/
@import '~bootstrap/scss/bootstrap';

/*===========================================
========= Loading Customize Styles ==========
=============================================*/
// loading variables
// @import 'vars/checkbox';

// loading blocks
// @import 'blocks/body';

// loading elements
// @import 'elements/accordian-toggle';
// @import 'elements/checkbox';


.cso-login {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-position: center center;
  }
  .cso-login:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: linear-gradient(to bottom, rgba(11, 44, 77, 0.08) 0%, rgba(11, 44, 77, 0.79) 69%, rgba(11, 44, 77, 0.96) 82%, #0b2c4d 85%, #0b2c4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140b2c4d', endColorstr='#0b2c4d',GradientType=0 );
  }
  
  .cso-login:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #AFD4EF;
    height: 5px;
    z-index: 2;
  }
  .cso-login__wrapper {
    position: relative;
    z-index: 1;
    overflow-y: auto;
  }
  .cso-login__videobackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  .cso-login__videobackground > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cso-login__brand {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 40%;
  }
  .cso-form-glass {
    color: #fff;
  }
  .cso-form-glass__title {
    margin: 0 0 40px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
  }
  .cso-form-glass__input-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    color: inherit;
    text-align: right;
    font-weight: 500;
    transition: .2s ease-in-out all;
  }
  .cso-form-glass__input-icon {
    padding: 0 0 0 10px;
    display: block;
    width: auto;
    color: #fff;
    font-size: 20px;
  }
  .cso-form-glass__label {
    padding: 0 0 0 10px;
    font-weight: normal;
    color: inherit;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
  }
  .cso-form-glass__input {
    margin: 0;
    min-height: 50px;
    border: none;
    background: transparent;
    color: inherit;
    text-align: right;
    padding: 10px;
    width: 100%;
    min-width: 10px;
    font-size: 13px;
    font-weight: normal;
  }
  
  .cso-button {
    text-transform: uppercase;
    background: #94BB20;
    background-color: rgba(148, 187, 32, 0.8);
    color: #fff;
    font-weight: normal;
    padding: 15px 30px;
    font-size: 14px;
    text-decoration: none;
    transition: ease .4s all;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    line-height: 1;
  }
  .cso-button[disabled] {
    opacity: .4;
    pointer-events: none;
  }
  .cso-button:last-child {
    margin-right: 0;
  }
  .cso-button--raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .cso-button--expand {
    width: 100%;
    text-align: center;
  }
  
  .cso-link-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cso-login__alternative-links {
    font-size: 14px;
  }
  .cso-link-list__item--centered {
    text-align: center;
  }
  .cso-link-list__item {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
  }
  .cso-link-list__item a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .cso-link-list__item--plain {
    border: none !important;
  }
  .cso-login__help-icon {
    padding-top: 4px;
    display: inline-block;
    margin-right: 8px;
  }
  .cso-login__footer {
    margin-top: 30px;
    width: 100%;
    position: relative;
  }
  .cso-footer__legal--light {
    color: rgba(255, 255, 255, 0.8);
  }
  .cso-footer__legal {
    text-align: left;
    font-size: 12px;
    color: rgba(155, 155, 155, 0.8);
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    padding-top: 10px;
  }
  .cso-footer__legal img {
    float: left;
    width: 100px;
    display: block;
    margin-right: 10px;
  }
  .cso-form-glass__input-wrapper:focus,
  .cso-form-glass__input:focus{
    outline: none;
  }
  .cso-form-glass__input-wrapper.is-focused {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
  }
  .cso-wrapper {
    height: inherit;
  }
  .cso-link-list__item.link {
    font-size: 16px;
  }
  @media only screen and (min-width: 1025px) {
    .cso-wrapper {
      width: 100%;
      max-width: 1270px;
      margin: 0 auto;
      padding: 0 60px;
    }
  }
  @media (min-aspect-ratio: 16/9) {
    .cso-login__videobackground > video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .cso-login__brand {
      padding-top: 80px;
      max-width: 30%;
      padding-bottom: 40px;
    }
    .cso-login__wizard {
      width: 380px;
      margin: 0 auto;
    }
    .cso-wrapper {
      width: 100%;
      max-width: 1270px;
      margin: 0 auto;
      padding: 0 60px;
    }
    .cso-login__alternative-links {
      display: table;
      margin: 0 auto;
      margin-top: 20px;
    }
    .cso-link-list__item:first-child {
      padding-left: 0;
    }
    .cso-link-list__item:not(:last-child) {
      border-right: 1px solid white;
    }
    .cso-login__help-links {
      float: right;
      margin-top: 40px;
    }
    .cso-login__help-links::before, .cso-login__help-links::after {
      content: ' ';
      display: table;
    }
    .cso-login__help-links::after {
      clear: both;
    }
    .cso-login__footer {
      margin-top: 10%;
    }
  }