//menu start 
div.menu
  div.date 
    i.material-icons access_time
    label Al 17 de Abril del 2018 / 14:34 hrs
  div.container
    ul.tabs
      li.tab(ng-disabled="item.disabled" ng-class="{'active': item.text == menuActive}" ng-repeat="item in menuItems")
        a(ng-click="toggleDropdown($event, item)") {{item.text}}
      
      li.tab
        a.disabled DOCUMENTOS

div.menu-collapse
  div(uib-dropdown is-open="isopen")
    div.shadow
    div.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="single-button")
      div.row.m-0(ng-if="menuActive == 'INICIO'")
        div.col-lg-offset-1.col-lg-2.col-md-offset-1.col-md-2.pt-3
          div.title 
            i.material-icons home
            label Inicio
          span.link.mt-3 Resumen
          span.link Saldo y Movimientos
          span.link Línea de Crédito

        div.col-lg-3.col-md-3.pl-0.pt-3
          div.title 
            i.material-icons person_add
            label Perfilamiento
          span.link.mt-3 Crear Usuario
          span.link Usuarios
        div.col-lg-6.col-md-6.picture.inicio

      div.row.m-0(ng-if="menuActive == 'TRANSFERENCIAS'")
        div.col-lg-offset-1.col-lg-2.col-lg-offset-1.col-md-2.pt-3
          div.title 
            i.material-icons.rotate90 import_export
            label Transferencias
          span.link.mt-3 Resumen
          span.link Históricas
          span.link Transferir
          span.link Crear Nómina

        div.col-lg-2.col-md-2.pl-0.pt-3
          div.title 
            i.material-icons people
            label Destinatarios
          span.link.mt-3 Lista de Destinatarios

        div.col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-3.pl-0.pr-0
          label.title.extra.mt-2 Transferencias
          p Lorem ipsum dolor sit amet, consectetur
          p.extra-title.mb-4 Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
          button.button-success.col-lg-6 TRANSFERIR
        div.col-lg-3.col-md-3.picture.transferencia

      div.row.m-0(ng-if="menuActive == 'PRODUCTOS'")
        div.col-lg-offset-1.col-lg-2.col-lg-offset-1.col-md-2.pt-3
          div.title 
            i.material-icons home
            label Productos
          span.link.mt-3 Crédito Comercial
          span.link Depósito a plazo
          span.link Forward
          span.link Leasing

        div.col-lg-2.col-md-2.pl-0.not-title.pt-3
          span.link.mt-4-5 Factoring
          span.link Mesa
          span.link Boleta de Garantia
          span.link Comex

        div.col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-3.pl-0.pr-0
          label.title.extra.mt-2 Crédito Comercial
          p Ut enim ad minim veniam, quis  nostrud exerc
          p.extra-title.mb-4 Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
          button.button-success.col-lg-6 CTA
        div.col-lg-3.col-md-3.picture.product
//menu end

//marketina start
div.marketina-group(ng-if="tooglePrice")
  div.marketina.background    
  div.marketina-container
    div.prices.pl-0.pr-0.pt-1.pb-1.w-100
      md-tabs
        md-tab(ng-disabled="true" ng-repeat="change in moneyChange")
          md-tab-label
            div
              span.mr-1 {{change.text}}
              span.percent {{change.porcent}}%
            div.text-left {{change.cash | currency }}
div.pos-rel
  a.toggle-price(ng-click="showPrice()")
    span Indicadores
    span.icon.pull-right(ng-if="tooglePrice")
      i.material-icons arrow_drop_up
    span.icon.pull-right(ng-if="!tooglePrice")
      i.material-icons arrow_drop_down
//marketina end