.dashboard-container {
    padding-top:130px;

    .carousel {
        height: 300px;
        .item img {
            height: 300px;
            width: 100%;
        }

        .carousel-control { display: none; }
        .carousel-indicators {
            top: 20%;
            width: auto;
            height: 40px;
            left: 60%;
            margin-left: 0px;

            li { margin-left: .6rem; }
        }
    }

    .container.dashboard {

        margin-top: -7rem;
    }
    .card-container {
        .title {
            font-family: Roboto;
            color: $c-white;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    .poster {
        position: relative;



        .action-container.custom {
            position: absolute;
            right: 15;
            bottom: -45px;

            .action {
                display: inline-block;
                vertical-align: top;
            }
        }
        .action-container.custom.transfer { right: 6px; }
        .action-container.custom.refactor { right: 9px; }
        .action-container.custom.solicitudes { right: 13px; }
        .action-container.custom.productos { right: 13px; }

        .grap {
            display: inline-block;
            vertical-align: top;
            margin-right: 1.5rem;
        }
    }

    md-card.notification {

        height: 155px;
        margin: 0px !important;

        .title, .sub-title {
            font-family: Roboto;
            color: $c-black-light;
        }
        .title {
            color: $c-black-table-header;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
        }
        .sub-title {
            opacity: .7;
            font-size: 12px;
            letter-spacing: -0.29px;
        }
        .link {
            font-size: 12px;
        }
        h3 {
            font-family: Roboto;
            font-size: 30px;
            color: $c-black-table-header;
            font-weight: 400;
        }

        .graficas {padding-left: 0px;}
        .float-menu {
            position: absolute;
            right: 15px;
            top: 5px;
            z-index: 5;

            i {color: $c-black-table-header;}
        }
    }

    md-tabs {

        md-tabs-content-wrapper {

            md-tab-content {

                md-content {
                    background-color: transparent;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 450px) {
    .dashboard-container md-card.notification.dimension .graficas {
        padding-left: 15px !important;
    }
    .dashboard-container .poster .grap {
        margin-right: 2.5rem !important;
    }
}
@media (max-width: 500px) {//col-xs

    .dashboard-container .poster .action-container.custom.transfer {
        bottom: -38px;
        right: 0px;
    }
    .dashboard-container .poster .action-container.custom.refactor {
        bottom: -48px;
        right: 13px;
    }
    .dashboard-container .poster .action-container.custom.solicitudes {
        bottom: -37px;
        right: 13px;
    }
    .dashboard-container .poster .action-container.custom.productos {
        bottom: -38px;
        right: 13px;
    }
}

/*MEDIA SCREEN*/
@media (max-width: 767px) {//col-xs
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container {

        padding-top: 80px;

        .text-small, .text-medium, .text-big {
            padding-left: 0px;
        }
        .text-small { font-size: 20px; }
        .text-medium { font-size: 25px;margin-top: 12px; }
        .text-big { font-size: 30px; }
		.row.p-15px.pos-r {
			margin-left: 1em;
		}
    }
    .dashboard-container .poster .grap {
        margin-right: 4.5rem;
        margin-bottom: 1rem;
    }
    .dashboard-container md-card.notification.dimension .graficas {
        padding-left: 20%;
    }
    .dashboard-container md-card.notification.dimension {
        height: 370px;
    }
    .dashboard-container .margin-sm-xs {
        margin-bottom: 55px;
    }
    .dashboard-container .margin-xs {
        margin-bottom: 70px;
    }
    .dashboard-container .carousel .carousel-indicators {
        top: 58%;
    }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container {

        padding-top: 80px;

        .text-small, .text-medium, .text-big {
            padding-left: 0px;
        }
        .text-small { font-size: 20px; }
        .text-medium { font-size: 25px;margin-top: 12px; }
        .text-big { font-size: 30px; }
        .no-p-r { padding-right: 0px; }

        .margin-sm-xs {
            margin-bottom: 55px;
        }
        .title-extra {
            font-family: Roboto;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
    .dashboard-container md-card.notification.dimension .graficas {
        padding-right: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container { padding-top: 80px; }
    .dashboard-container md-card.notification h3 {
        font-size: 24px;
    }
    .dashboard-container .poster .grap {
        margin-right: 4.5rem;
        margin-bottom: 1rem;
    }
    .dashboard-container md-card.notification.dimension {
        height: 250px;
    }
    .dashboard-container md-card.notification.dimension .graficas {
        padding-left: 40px;
    }
	.dashboard {
		div.row.p-15px.text-center.md-left {
			text-align: left;
		}
	}
}
@media (min-width: 1200px) {//col-lg
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container {
        .carousel {
             .carousel-indicators {
                left: 50%;
                top: 25%;
             }
        }
    }
	.dashboard {
		div.row.p-15px.text-center.md-left {
			text-align: left;
		}
	}
}
