.investment { 

    account-list.bg-toolbar {
        md-tabs-canvas md-pagination-wrapper { 
            right: 0;
            left: auto !important;
        }
        md-tabs-wrapper { margin-left: 0px; }
        .title { text-transform: none; }

        .action-container {
            bottom: -55px;
        }
    }

    .radio-container-selector {

        position: absolute;
        top: 5px;
        left: 2px;
        z-index: 5;

        md-radio-button {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0px;
        }
        md-radio-button:first-child { margin-right: 3rem; }
    }

    .account-movement {

        margin-top: -55px;

        md-tabs.component {
            md-tabs-wrapper {
                margin-left: 30rem;
            }
        }
    }


    .arrow-container {

        span:first-child {
            float: left;
            // padding-top: 7px;
            margin-right: 25%;

            i { font-size: 18px; }
        }

        &.up { color: $c-green; }
        &.down { color: $c-red; }        
    }
    .documents {
        padding-right: 15rem !important;

        .arrow-container-download {

            a { 
                display: block;
                color: $c-green;
            }
            a:hover { text-decoration: none; }
            span:last-child {
                float: right;
                // padding-top: 7px;
                margin-left: 3%;

                i { font-size: 18px; }
            }
        }
    }
    .cheque-container {

        .motive { 
            line-height: 50px;
            padding-right: 0px;
            color: $c-black-table-header;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.03px;
        }
        
        md-input-container { margin: 0px !important; }
        md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
            -webkit-transform: none;
            transform: none;
            color: rgba(0, 0, 0, 0.8700000047683716);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
            color: rgba(0, 0, 0, 0.8700000047683716);
        }
    }

    .input-form {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        background-color: $c-gray-background-input;
        display: -webkit-inline-box;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid $c-gray-border-input;
        position: relative;

        md-select { width: 100%; }
    }
}


.modal-check-detail {
    .text, .value {
        color: $c-black-table-header;
        font-family: Roboto;
        font-size: 13px;
    }
    .text { letter-spacing: -0.03px;font-weight: 700; }
    .value { letter-spacing: -0.29px;font-weight: 400; }
}
.modal-check-detail-cheques {
    ul {
        margin-bottom: 0px;
        li {list-style: none;}
    }
}
.modal-check-detail-motivo {

}

/*MEDIA SCREEN*/
@media (max-width: 500px) {
    .investment account-list.bg-toolbar .action-container {
        bottom: -50px!important;
        right: -1px!important;
    }
    .investment .account-movement { margin-top: -30px; }
    .investment .documents {
        padding-right: 2rem!important;
    }
}
@media (min-width: 501px) and (max-width: 766px)  {
    .investment .documents {
        padding-right: 10rem!important;
    }
}
@media (max-width: 767px) {//col-xs
    .investment .cheque-container {

        padding-left: 0px;
        padding-right: 0px;

        & > div { padding: 0px; }
        .motive { padding-left: 0px;font-size: 10px; }
        .button-success { font-size: 11px; }
    }
    .investment .account-movement md-tabs.component md-tabs-wrapper {
        width: 100% !important;
        margin-left: 0px;
    }
    .investment .radio-container-selector { margin-bottom: 15px;position: relative; }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    .investment .cheque-container {
        
        padding-left: 0px;
        padding-right: 0px;

        & > div { padding: 0px; }
    }
    .investment .account-movement md-tabs.component md-tabs-wrapper {
        width: 100% !important;
        margin-left: 0px;
    }
    .investment .radio-container-selector { margin-bottom: 15px;position: relative; }   
    .investment .documents {
        padding-right: 10rem!important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    .investment .cheque-container {
        
        padding-left: 0px;
        padding-right: 0px;

        & > div { padding: 0px; }
    }
    .investment .account-movement md-tabs.component md-tabs-wrapper {
        width: 100% !important;
        margin-left: 0px;
    }
    .investment .radio-container-selector { margin-bottom: 15px;position: relative; }    
}
@media (min-width: 1200px) {//col-lg
    .investment .cheque-container {
        
        padding-left: 0px;
        padding-right: 0px;

        & > div { padding: 0px; }
    }
}