.product-modal {
	overflow: hidden;

	.products-grid {

		padding-left: 10%;
		padding-right: 10%;

		.title {

			.h3 {
				text-align: center;
			}
		}

		.table-row {
			display: flex;
			align-items: flex-end;
		}

		.inner-div {
			cursor: pointer;
			.request-button {
				visibility: hidden;
			}
			.center {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
				height:70%;
				&.leasing {
					padding-bottom: 7%;
				}
			}
		}

		.inner-div:hover {
			outline: 2px dashed $c-green;
			.request-button {
				visibility: visible;
			}
		}

		.row {
			padding: 1em;
		}

		.request-button {
			margin-bottom: 10%;
		}
	}
}
