.regla-modal {

	md-switch.md-checked.md-primary .md-thumb {
		background-color: $c-green-firm;
	}
	md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
		background-color: $c-green-firm;
	}
	.text {
		letter-spacing: -.03px;
		font-weight: 700;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 13px;
	}
	.value {
		letter-spacing: -.29px;
		font-weight: 400;
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 13px;
	}
	.ajust1 {
		margin-left: -0.5em;
	}
	.space {
		margin-top: 3em;
	}
	.space-right1 {
		margin-right: .2em;
	}
	.space-right2 {
		margin-right: 1.5em;
	}
	.cornered {
		margin-left: 20em;
	}

	.aling-o {
		margin-left: 7.1em;
		margin-bottom: -2em;
	}
	.aling-y {
		margin-left: 7.1em;
		margin-bottom: -2em;
	}

	.account-check {

		md-checkbox {

			.md-label {
				opacity: .6 !important;
			}

			&.md-checked {

				.md-label {
					opacity: 1 !important;
				}
			}
		}
	}

	.radio-container {

		md-radio-group {
			display: table;
			width: 100%;

			md-radio-button {
				display: table-cell;
				vertical-align: middle;
				width: 33%;

				&:first-child {
					width: 40%;
				}
				&:last-child {
					float: right;
					margin-right: 30px;
					margin-top: 15px;
				}
			}
		}
	}
	.destinatario {

		md-radio-group {
			float: right;

			md-radio-button {
				display: inline-block;
				vertical-align: top;

				&:last-child {
					margin-left: 7rem;
				}
			}
		}
	}

	.detail-account {
		margin-bottom: 1.5rem;

		.account-container {
			border-radius: 5px;
			padding: 12px 22px;
			background-color: $c-yellow-back-input;
			border: 1px solid $c-yellow-border-input;
			color: $c-black-table-header;
			font-family: Roboto;
			font-size: 14px;
			letter-spacing: -0.31px;

			label {
				font-weight: 700;
			}
			p {
				font-weight: 400;
			}
		}
	}
	.user-add {
		margin-bottom: 1.5rem;
		border-radius: 5px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: $c-yellow-back-input;
		border: 1px solid $c-yellow-border-input;

		.text, .count {
			font-family: Roboto;
			font-size: 13px;
			letter-spacing: -0.03px;
			line-height: 16px;
			font-weight: 700;
		}
		.text {
			color: $c-black-table-header;
		}
		.count {
			float: right;
			color: $c-green;
			text-decoration: underline;
		}
	}
	span.radio-text {
		color: $c-black-table-header;
		font-family: Roboto;
		font-size: 13px;
		letter-spacing: -0.31px;
		font-weight: 400;
	}

	.abono-pago-type > div {
		.span-text {
			color: $c-black-table-header;
			font-family: Roboto;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: -0.03px;
			line-height: 16px;
			padding-left: 15px;

			&.last {
				font-weight: 400;
				margin-bottom: 1.5rem;
			}

			a.link {
				color: $c-green;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.extra-row {
		label.text {
			line-height: 50px;
			color: $c-black-table-header;
			font-family: Roboto;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: -0.03px;
		}
	}

	// INPUT START
	.input-form {
		width: 100%;
		height: 47px;
		border-radius: 5px;
		background-color: $c-gray-background-input;
		display: -webkit-inline-box;
		padding: 5px;
		margin-bottom: 15px;
		border: 1px solid $c-gray-border-input;
		position: relative;

		md-select {
			width: 100%;
		}
		&.has-error {
			color: $has-error-color;
			box-shadow: 0 0 7px red;
			border-color: $has-error-color;
			&:focus {
				border-color: red;
				-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .075), 0 0 6px red;
				box-shadow: inset 0 0 1px rgba(0, 0, 0, .075), 0 0 6px red;
			}
			.form-text {
				label {
					color: $has-error-fore-color;
				}
			}
		}
	}

	.input-form.yellow {
		background-color: $c-yellow-back-input;
		border: 1px solid $c-yellow-border-input;

	}

	.placeholder-select {
		opacity: 1;
		border-radius: 0px;
		background: none;
		border: none;
		position: absolute;
		z-index: 3;
		left: 10px;

		label {
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			font-weight: 400;
			letter-spacing: -0.36px;
			line-height: 44px;
			color: rgba(0, 0, 0, 0.8700000047683716);
			display: inline-block;
			vertical-align: top;
			font-family: Roboto;
			margin-left: .2rem;
			margin-bottom: 0px;
		}
	}

	.input-form .form-text {
		opacity: 1;
		border-radius: 0px;
		background: none;
		border: none;
		position: absolute;
	}

	.input-form .form-text label {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		font-weight: 400;
		letter-spacing: -0.36px;
		line-height: 35px;
		color: rgba(0, 0, 0, 0.8700000047683716);
		display: inline-block;
		vertical-align: top;
		font-family: Roboto;
		margin-left: .2rem;
		margin-bottom: 0px;
	}

	.input-form .form-element {
		text-align: right;
		width: 100%;
		position: relative;
	}

	.input-form .form-element input {
		width: 100%;
		border: none;
		background-color: transparent;
		text-align: right;
		color: $c-gray-txt-modal;
		font-size: 13px;
		font-family: Roboto;
		font-weight: 400;
		letter-spacing: -0.41px;
		line-height: 32px;
	}

	.input-form .form-element input:focus {
		outline-width: 0px !important;
	}
	// INPUT END

	md-input-container.input-form {
		margin-top: 0px
	}
	md-input-container.input-form.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
		-webkit-transform: none;
		transform: none;
		color: rgba(0, 0, 0, 0.8700000047683716);
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
	}
	md-input-container.input-form:not([md-no-float]) .md-select-placeholder span:first-child {
		color: rgba(0, 0, 0, 0.8700000047683716);
		font-size: 12px;
	}
	.md-select-value > span {
		text-align: right;
	}
	.md-select-value > span:not(.md-select-icon) .md-text {
		color: rgba(0, 0, 0, 0.8700000047683716);
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
	}
	md-switch {
		margin: 0px 0px;
	}

	.padding-0 {
		padding: 0px;
	}
	.padding-right-0 {
		padding-right: 0px;
	}
	.padding-left-0 {
		padding-left: 0px;
	}
	.table {
		.rule {
			vertical-align: bottom;
		}
	}
	.table-responsive.with-scroll, .tbody {
		height: 230px;
	}
	.mt-em {
		margin-bottom: .7em;
	}
}

/*MEDIA SCREEN*/

@media (max-width: 425px) { //col-xs

	.regla-modal {

		.adjust-desde {
			margin-left: 0em;
			width: 100%;
		}
		.adjust-hasta {
			width: 100% !important;
			margin-left: 0em !important;
		}
		.adjust-combinacion {
			margin-left: 13.5em !important;
			margin-top: -1em;
		}
		.cornered {
			margin-left: -1em !important;
		}
		.width-select {
			width: 14em !important;
		}
		.width-select1 {
			width: 14em !important;
		}
		.space-right2 {
			margin-left: -3em !important;
		}
		.space-left1 {
			margin-left: -1em !important;
		}
		.aling-o {
			margin-left: 12.5em !important;

		}
		.aling-y {
			margin-left: 12.5em !important;
		}

	}
}

@media (max-width: 375px) { //col-xs

	.regla-modal {

		.space-right2 {
			margin-left: 0.5em !important;
		}
		.space-right1 {
			margin-right: -1.8em !important;
		}
		.adjust-combinacion {
			margin-left: 12em !important;
		}
		.aling-o {
			margin-left: 10.5em !important;

		}
		.aling-y {
			margin-left: 10.5em !important;
		}
		.width-select {
			width: 12em !important;
		}
		.width-select1 {
			width: 12em !important;
		}
	}
}

@media (max-width: 320px) { //col-xs

	.regla-modal {

		.space-right2 {
			margin-left: 0.5em !important;
		}
		.space-right1 {
			margin-right: -1.8em !important;
		}
		.adjust-combinacion {
			margin-left: 8.5em !important;
		}
		.aling-o {
			margin-left: 8.5em !important;

		}
		.aling-y {
			margin-left: 8.5em !important;
		}
		.width-select {
			width: 10em !important;
		}
		.width-select1 {
			width: 10em !important;
		}
		.selection-label {
			label {
				margin-top: 0.5em;
			}

		}
	}
}

@media (max-width: 767px) { //col-xs
	.regla-modal .padding-0 {
		padding: 0px 15px;
	}
	.regla-modal .placeholder-select {
		left: 22px;
	}
	.regla-modal .padding-rigth-xs-0 {
		padding-right: 0px;
	}
	.regla-modal .center-xs {
		text-align: center;
	}
	.regla-modal .destinatario md-radio-group {
		display: block;
		float: none;
		text-align: center;
		padding-top: 15px;
	}
	.indicator-container.ajust {
		width: 90%;
	}
}

@media (min-width: 768px) and (max-width: 991px) { //col-sm
	.p-0 {
		padding: 0em !important;
	}
	.col-lg-1-edit {
		width: 5.222%;
	}
	.modal-dialog {
		label {
			margin-top: -0.2em !important;
		}
	}
	.regla-modal {

		.adjust-desde {
			margin-left: -1em;
			width: 56%;
		}
		.adjust-hasta {
			width: 46% !important;
			margin-left: 0em !important;
		}
		.adjust-combinacion {
			margin-left: 26.1em !important;
			margin-top: -1em;
		}
		.cornered {
			margin-left: 3.6em !important;
		}
		.width-select {
			width: 20em;
		}
		.width-select1 {
			width: 21em;
		}
		.space-right2 {
			margin-left: 3.3em !important;
		}
		.space-right2.space-right3 {
			margin-left: 3.5em !important;
		}
		.space-left1 {
			margin-left: 3.3em !important;
		}
		.aling-o {
			margin-left: 22em !important;

		}
		.aling-y {
			margin-left: 22em !important;
		}
		.selection-label {
			label {
				margin-top: -0.2em !important;
			}
		}
	}
	.modal.fullscreen .modal-dialog label {
		margin-top: -0.2em !important;
	}
}

@media (max-width: 1024px) { //col-sm

	.regla-modal {
		.col-sm-1 {
			width: 21.333333%;
		}
		.cornered {
			margin-left: 16.2em;
		}
		.adjust-hasta {
			width: 40%;
			margin-left: 2em;
		}
		.space-right2 {
			margin-left: 1.7em;
		}
		.space-right1 {
			margin-right: 1.2em;
		}
		.space-left1 {
			margin-left: 16.2em;
		}
		.aling-o {
			margin-left: 16.5em;
			margin-bottom: -2em;
		}
		.aling-y {
			margin-left: 16.5em;
			margin-bottom: -2em;
		}
		.type-selection {
			span {
				text-align: left;
			}
		}
		.selection-label {
			label {
				margin-top: 0;
			}
		}
		.adjust-combinacion {
			margin-left: -0.9em;
		}
		md-input-container.adjust-producto {
			width: 100%;
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) { //col-md
	.regla-modal .destinatario md-radio-group md-radio-button:last-child {
		margin-left: 4rem;
	}
	.regla-modal .input-form {
		width: 111%;
	}
}

@media (min-width: 1200px) { //col-lg
	.col-lg-1-edit {
		width: 7.222%;
	}
}
