$md-font-size: 34px;
.transfer {

    account-list.bg-toolbar {
        md-tabs-canvas md-pagination-wrapper {
            right: 0;
            left: auto !important;
        }
        md-tabs-wrapper { margin-left: 0px; }
        .title { text-transform: none; }

        .action-container {
            bottom: -55px;
        }
    }

    .account-movement {

        margin-top: -55px;
    }

    .arrow-container {

        span:first-child {
            float: left;
            padding-top: 7px;
            margin-right: 25%;

            i { font-size: 18px; }
        }

        &.up { color: $c-green; }
        &.down { color: $c-red; }
    }

    .arrow-container-download {

        padding-right: 2rem;

        a {
            display: block;

            &:hover { text-decoration: none; }
        }
        span {
            color: $c-green-firm;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.55px;
            display: inline-block;
            vertical-align: middle;

            i { color: #9CC131; }
        }
    }

    .input-form {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        background-color: $c-gray-background-input;
        display: -webkit-inline-box;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid $c-gray-border-input;
        position: relative;

        md-select { width: 100%; }
        &.has-error {
			color: $has-error-color;
			box-shadow: 0 0 7px red;
			border-color: $has-error-color;
			&:focus {
				border-color: red;
				-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .075), 0 0 6px red;
				box-shadow: inset 0 0 1px rgba(0, 0, 0, .075), 0 0 6px red;
			}
			.form-text {
				label {
					color: $has-error-fore-color !important;
				}
			}
		}
    }

    .remove-account {
        color: $c-remove;
        font-size: $md-font-size;
    }

    .add-account {
        color: $c-add;
        font-size: $md-font-size;
    }

    md-input-container.input-form {
        margin-top: 0px
    }

    md-input-container.input-form.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
        -webkit-transform: none;
        transform: none;
        color: rgba(0, 0, 0, 0.8700000047683716);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }

    md-input-container.input-form:not([md-no-float]) .md-select-placeholder span:first-child {
        color: rgba(0, 0, 0, 0.8700000047683716);
        font-size: 12px;
    }

    .pl-sm-0 { padding-left: 0px; }

    .pr-sm-0 { padding-right: 0px; }

    .button-success.sm.col-lg-5.col-md-6.mr-1.align, .button-blue.sm.col-lg-5.col-md-5.align {
        vertical-align: middle;
    }

	.tipo {
		margin-bottom: .5em;
	}

	.pb-e8 {
		padding-bottom: .8em;
    }
    .pb-e8.pt-em,  .pt-em {
        padding-top: .4em;
    }
}
.fake {
	height: 200em;
}


/*MEDIA SCREEN*/
@media (max-width: 500px) {
    .transfer account-list.bg-toolbar .action-container {
        bottom: -50px!important;
        right: -1px!important;
    }
    .investment .account-movement { margin-top: -30px; }
}
@media (min-width: 501px) and (max-width: 766px)  {
}
@media (max-width: 767px) {//col-xs
    .pl-sm-0 { padding-left: 15px !important; }
    .pr-sm-0 { padding-right: 15px !important; }
	.transfer {
		.row {
			.col-lg-4.col-lg-4-less {
				padding-left: 0 !important;
			}
			.col-lg-4.pr-sm-0, .pr-sm-0.sm-4-pr-0 {
				padding-right: 0 !important;
			}
		}
		.data-container {
			.col-lg-4 {
				padding-left: 0;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    .pl-sm-0 { padding-left: 15px !important; }
    .pr-sm-0 { padding-right: 15px !important; }
	.pl-0 {
		padding-left: 1em!important;
	}
	.col-lg-4.pr-sm-0, .pr-sm-0.sm-4-pr-0 {
		padding-right: 0 !important;
	}
	.button-success.sm.col-lg-9.col-md-9 {
		margin-left: .8em;
	}
	.button-default.icon.sm.col-lg-3.col-md-3 {
		padding-left: 0;
		padding-right: 0;
		margin-left: 1em;
    }
    .transfer {
        .radio-container.adjust {
            margin-left: 1.5em;
        }
        .table.custom {
            td.sm-fecha {
                width: 27%;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
      .button-success.col-md-2.col-md-offset-7 {
            margin-left: 65.333333%;
    }
    .container.transfer {
		 height: auto;
	}
	.transfer {
		.row {
			.col-md-9.col-md-9-less {
				width: 57%;
			}

			.col-md-8.col-md-8-less {
				width: 50%;
			}

			.col-md-4-less {
				margin-left: 30%;
			}

			.pl-0 {
				padding-left: 1em!important;
			}

			.col-lg-4.pl-0 {
				padding-left: 1em!important;
			}

			.col-md-12.pl-0.pr-0 {
				padding-left: 1em!important;
			}


        }
        .table.custom {
            td.fecha {
                width: 16%;
            }
        }
	}

}
@media (min-width: 1200px) {//col-lg
    .button-success.col-lg-2.col-lg-offset-7 {
            margin-left: 65.333333%;
    }
	.transfer {
		.row {
			.col-lg-8.col-lg-8-less {
				width: 64%;
			}
			.col-lg-4.col-lg-4-less {
				width: 30%;
            }
            .col-lg-4.pr-sm-0, .pr-sm-0.sm-4-pr-0 {
		        padding-right: 1em !important;
            }
            .col-lg-3.col-lg-3-less {
                padding-left: 0;
                padding-right: 0!important;
            }
		}
	}
}
