div.row
  div.col-lg-11.col-md-11.col-sm-10.col-xs-10.message
    label.pt-emx {{$ctrl.message}}
  button.col-lg-1.col-md-1.col-sm-2.col-xs-3.button-default-inv(ng-click="$ctrl.confirm()") {{$ctrl.textPrimaryAction}}