div.row
  div.col-lg-8.col-md-8.col-sm-6.col-xs-6.message
    label.m-0 {{$ctrl.message}}
  button.col-lg-3.col-md-3.col-sm-4.col-xs-4.button-default-inv(ng-click="$ctrl.confirmSecundary()") {{$ctrl.textAction}}
  button.col-lg-1.col-md-1.col-sm-2.col-xs-2.button-default-inv(ng-click="$ctrl.confirm()") {{$ctrl.textPrimaryAction}}