div.container.check-detail
  div.header.mt-4.mb-4
    div.logo
      img.logo(src="images/isologo-premium-modal.png")
    div.close
      i.material-icons(ng-click="close()") close

  div.title.mb-3 
    h3 Recuperar Clave

  div.row.mb-6
    div.col-lg-12      