section.bg-gray.content-container
    div.container.investment
        div.mt-4
            account-list.bg-toolbar(list="currentCompany.accounts" title="Monto Disponible" button-credit-submit="true" button-transfer-new="true" ng-if="!loadAccounts")

        div
            md-tabs.component.md-no-animation(md-dynamic-height)
                md-tab(label="ULTIMOS MOVIMIENTOS")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            label filters

                        md-card.pt-15px.pos-r
                            div.table-responsive
                                div.table.custom
                                    div.thead
                                        div.tr.flex-row.m-0
                                            div.th.flex-item-4 Fecha
                                            div.th.flex-item-8 Description
                                            div.th.flex-item-3 Serie
                                            div.th.flex-item-5 Cargos / Abonos
                                            div.th.flex-item-4 Saldo
                                    div.tbody
                                        div.tr-container(ng-repeat="item in lastMovement")
                                            div.tr.flex-row.m-0
                                                div.td.flex-item-4 {{item.date}}
                                                div.td.flex-item-8 {{item.description}}
                                                div.td.flex-item-3 {{item.serie}}
                                                div.td.flex-item-5 {{item.cargo | currency}}
                                                div.td.flex-item-4 {{item.saldo | currency}}


                md-tab(label="CARTOLA INTERESES")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            label filters

                        md-card.mt-0.pt-15px.pos-r
                            div.table-responsive
                                div.table.custom
                                    div.thead
                                        div.tr.flex-row.m-0
                                            div.th.flex-item-4 Fecha
                                            div.th.flex-item-6 Saldo Diario
                                            div.th.flex-item-11 Tasa Diaria
                                            div.th.flex-item-3 Interes
                                    div.tbody
                                        div.tr-container(ng-repeat="item in interes")
                                            div.tr.flex-row.m-0
                                                div.td.flex-item-4 {{item.date}}
                                                div.td.flex-item-6 {{item.saldo | currency}}
                                                div.td.flex-item-11 {{item.tasa}}%
                                                div.td.flex-item-3 {{item.interes | currency}}


                md-tab(label="CARTOLA HISTORICA")                
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            label filters

                        md-card.mt-0.pt-15px.pos-r
                            div.table-responsive
                                div.table.custom
                                    div.thead
                                        div.tr.flex-row.m-0
                                            div.th.flex-item-4 Año
                                            div.th.flex-item-5 Mes
                                            div.th.flex-item-11 Folio
                                            div.th.flex-item-3 Documentos
                                    div.tbody
                                        div.tr-container(ng-repeat="item in historica")
                                            div.tr.flex-row.m-0
                                                div.td.flex-item-4 {{item.year}}
                                                div.td.flex-item-5.text-uppercase {{item.month}}
                                                div.td.flex-item-11 {{item.folio}}
                                                div.td.flex-item-3
                                                    a.pointer Descargar

                
                md-tab(label="CHEQUES")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            label filters

                        md-card.mt-0.pt-15px.pos-r
                            div.table-responsive
                                div.table.custom
                                    div.thead
                                        div.tr.flex-row.m-0
                                            div.th.flex-item-2.check
                                                md-checkbox.md-primary(ng-click="toggleAll(dummyDataTransfer)" ng-model="selectedDummyDataTransfer") Todo
                                            div.th.flex-item-3 Fecha
                                            div.th.flex-item-3.pl-2 Tipo
                                            div.th.flex-item-3.text-right Cuenta Origen
                                            div.th.flex-item-4.pl-2 Destinatario
                                            div.th.flex-item-4.text-right.pr-3 Monto Transferencia
                                            div.th.flex-item-2 Firmas
                                            div.th.flex-item-3 Estado
                                    div.tbody
                                        div.tr-container(ng-repeat="item in dummyDataTransfer")
                                            div.tr.flex-row.m-0
                                                div.td.flex-item-2.check
                                                    md-checkbox.md-primary(ng-click="toggle(item, dummyDataTransfer, 'selectedDummyDataTransfer')" ng-model="item.selected")
                                                div.td.flex-item-3.plus-icon
                                                    i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="item.plus = !item.plus") add
                                                    i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="item.plus = !item.plus") remove
                                                    span {{item.date}}
                                                div.td.flex-item-3.text-right {{item.type}}
                                                div.td.flex-item-3.text-right {{item.origen}}
                                                div.td.flex-item-4.text-uppercase.destinatario {{item.destinatario}}
                                                div.td.flex-item-4.text-right.pr-3 {{item.transferencia}}
                                                div.td.flex-item-2 
                                                    firm(count="item.firmas" total="4")
                                                div.td.flex-item-3 {{item.estado}}
                                            div.flex-row.m-0.plus-data(ng-if="item.plus")
                                                label asdasd

