section.bg-gray.content-container
    div.container.investment
        div.mt-4
            account-list.bg-toolbar(list="currentCompany.accounts" title="Monto Disponible" button-credit-submit="true" button-transfer-new="true" ng-if="!loadAccounts")

        div.pos-r.account-movement(ng-if="existAccounts")
            div.radio-container-selector
                md-radio-group(ng-model="visibilityTabControl") 
                    md-radio-button.md-primary(value="ACCOUNT") Cuentas
                    md-radio-button.md-primary(value="CREDIT") Linea de Credito

            md-tabs.component.md-no-animation(md-dynamic-height ng-if="loadTabData")
                md-tab(label="ULTIMOS MOVIMIENTOS")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive 
                                table.table.custom 
                                    thead.thead 
                                        tr.tr 
                                            th.th Fecha 
                                            th.th Descripción 
                                            th.th Serie
                                            th.th Cargos / Abonos
                                            th.th Saldo
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat="item in $ctrl.lastMovement" ng-class="{'odd': $index % 2 == 0}")
                                            td.td {{item.date}}
                                            td.td {{item.description}}
                                            td.td {{item.serie}}
                                            td.td
                                                div.arrow-container.up(ng-if="item.cargo > 100000")
                                                    span
                                                        i.material-icons arrow_upward
                                                    span {{item.cargo | currency}}
                                                div.arrow-container.down(ng-if="item.cargo <= 100000")
                                                    span
                                                        i.material-icons arrow_downward
                                                    span {{item.cargo | currency}}
                                            td.td {{item.saldo | currency}}

                                div.row.m-0.pt-1.pb-1
                                    button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4(ng-if="$ctrl.lastMovementPagination" ng-click="pagination('lastMovement')") CARGAR MAS
                                    button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4.disabled(ng-if="!$ctrl.lastMovementPagination") CARGAR MAS

                md-tab(label="CARTOLA INTERESES")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.mt-0.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive
                                table.table.custom 
                                    thead.thead 
                                        tr.tr 
                                            th.th Fecha
                                            th.th Saldo Diario
                                            th.th Tasa Diaria
                                            th.th Interes
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat="item in $ctrl.interes" ng-class="{'odd': $index % 2 == 0}")
                                            td.td {{item.date}}
                                            td.td {{item.saldo | currency}}
                                            td.td {{item.tasa}}%
                                            td.td {{item.interes | currency}}

                            div.row.m-0.pt-1.pb-1
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4(ng-if="$ctrl.interesPagination" ng-click="pagination('interes')") CARGAR MAS
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4.disabled(ng-if="!$ctrl.interesPagination") CARGAR MAS

                md-tab(label="CARTOLA HISTORICA")                
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.mt-0.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive
                                table.table.custom 
                                    thead.thead 
                                        tr.tr 
                                            th.th Año
                                            th.th Mes
                                            th.th Folio
                                            th.th.text-right.documents Documentos
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat="item in $ctrl.historica" ng-class="{'odd': $index % 2 == 0}")
                                            td.td {{item.year}}
                                            td.td.text-uppercase {{item.month}}
                                            td.td {{item.folio}}
                                            td.td.text-right.documents
                                                div.arrow-container-download
                                                    a.pointer
                                                        span Descargar
                                                        span
                                                            i.material-icons cloud_download

                            div.row.m-0.pt-1.pb-1
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4(ng-if="$ctrl.historicaPagination" ng-click="pagination('historica')") CARGAR MAS
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4.disabled(ng-if="!$ctrl.historicaPagination") CARGAR MAS

                md-tab(label="CHEQUES" ng-if="visibilityTabControl == 'ACCOUNT'")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-10.col-md-10.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-1.col-md-2.col-sm-2.col-xs-12.pr-0.text Chequera
                                    div.col-lg-3.col-md-3.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form.refactor-bottom
                                            md-select.md-no-underline(ng-model="$ctrl.chequeChequera" ng-model-options="{trackBy: '$value.id'}") 
                                                md-option.text-uppercase(ng-value="chequera" ng-repeat="chequera in $ctrl.chequeras") {{chequera.name}}

                                    div.col-lg-1.col-md-1.col-sm-1.col-xs-12.pl-0.pr-0.text-center.text Desde N
                                    div.col-lg-3.col-md-3.col-sm-4.col-xs-12.refactor-padding
                                        md-input-container.input-form.refactor-bottom
                                            md-select.md-no-underline(ng-model="$ctrl.chequeChequeStart" ng-model-options="{trackBy: '$value.id'}") 
                                                md-option.text-uppercase(ng-value="cheque" ng-repeat="cheque in $ctrl.cheques") {{cheque.name}}

                                    div.visible-xs.col-xs-12.text-center.text Al
                                    div.col-lg-3.col-md-3.col-sm-4.col-xs-12.last-filter
                                        span.text.refactor-all.visible-lg.visible-md.visible-sm Al
                                        md-input-container.input-form.refactor
                                            md-select.md-no-underline(ng-model="$ctrl.chequeChequeEnd" ng-model-options="{trackBy: '$value.id'}") 
                                                md-option.text-uppercase(ng-value="cheque" ng-repeat="cheque in $ctrl.cheques") {{cheque.name}}

                                div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
                                    button.button-success.col-lg-offset-1.col-lg-11.col-md-offset-2.col-md-10.col-sm-offset-3.col-sm-6.col-xs-12 BUSCAR

                        md-card.mt-0.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive
                                table.table.custom 
                                    thead.thead 
                                        tr.tr
                                            th.th 
                                            th.th Número de Cheque
                                            th.th Fecha de Pago
                                            th.th Monto
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat="item in $ctrl.cheques" ng-class="{'odd': $index % 2 == 0}")
                                            td.td.check(ng-disabled="item.completed" ng-class="{'disabled': item.completed}")
                                                md-checkbox.md-primary(ng-click="toggle(item)" ng-model="item.selected")
                                            td.td(ng-disabled="item.completed" ng-class="{'disabled': item.completed}") {{item.cheque}}
                                            td.td {{item.pago}}
                                            td.td {{item.monto}}

                            div.row.m-0.pt-1.pb-1
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4(ng-if="$ctrl.chequesPagination" ng-click="pagination('cheques')") CARGAR MAS
                                button.button-success.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-4.disabled(ng-if="!$ctrl.chequesPagination") CARGAR MAS

                            div.row.m-0.pt-1.pb-1.cheque-container
                                div.col-lg-offset-6.col-lg-6.col-md-offset-6.col-md-6.col-sm-offset-2.col-sm-10.col-xs-12
                                    div.col-lg-2.col-md-2.col-sm-2.col-xs-2.motive MOTIVO
                                    div.col-lg-5.col-md-5.col-sm-5.col-xs-5.pl-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeMotivo" ng-change="changeMotivo(chequeMotivo)" ng-model-options="{trackBy: '$value.id'}" placeholder="Selecciones") 
                                                md-option.text-uppercase(ng-value="motivo" ng-repeat="motivo in $ctrl.motivos") {{motivo.label}}
                                    button.button-success.col-lg-5.col-md-5.col-sm-5.col-xs-5.p-0.text-upper-case(ng-if="$ctrl.chequeMotivo != '' && $ctrl.selectedCheques.length" ng-click="checkDetail()") Orden de pago
                                    button.button-success.col-lg-5.col-md-5.col-sm-5.col-xs-5.p-0.text-upper-case.disabled(ng-if="$ctrl.chequeMotivo == '' || !$ctrl.selectedCheques.length") Orden de pago

