section.bg-gray.dashboard-container
    div.container
        div.mt-4
            account-list(list="currentCompany.accounts" title="Monto Disponible" button-transfer-new="true" ng-if="!loadAccounts")