section.bg-gray
  //header star
  header
    md-toolbar.md-hue-2
      div.md-toolbar-tools
        div.row.w-100.m-0
          div.col-lg-6.col-md-6.pl-0.logo
            img(src="assets/images/logoBanco100.png")
          div.col-lg-6.col-md-6.pr-0
            div.row
              div.col-lg-3.col-md-3
                ul.links
                  li 
                    a Ayuda
                  li 
                    a FAQ
                  li 
                    a Contacto
              div.col-lg-8.col-md-8
                div.row.user-login
                  //user login start
                  div.col-lg-8.col-md-8
                    div.row
                      div.pl-0.col-lg-3.col-md-3.col-sm-1.col-xs-1.text-right
                        img.user-logo(src="assets/images/user.png" ng-click="$ctrl.openToggle()")
                      div.col-lg-9.col-md-9.col-sm-11.col-xs-11.pl-0.pr-0.company-selector-container
                        label.user-fullname {{$ctrl.userLogin.fullName}}
                        md-menu
                          div.company-selector(ng-mouseenter="$mdMenu.open()") 
                            span {{$ctrl.currentCompany.name}}
                            span
                              i.material-icons arrow_drop_down

                          md-menu-content(width="5" ng-mouseleave="$mdMenu.close()")
                            md-menu-item(ng-repeat="item in $ctrl.userCompanies" ng-class="{'selected': item.nameID == $ctrl.currentCompany.nameID}")
                              a(ng-click="$mdMenu.close();$ctrl.selectCompany(item);") {{item.name}}
                  div.col-lg-4.col-md-4                   
                  //user login end
    
    
    //menu start 
    div.menu
      div.date 
        i.material-icons access_time
        label Al 17 de Abril del 2018 / 14:34 hrs
      div.container
        md-tabs
            md-tab(ng-repeat="item in ['INICIO', 'TRANSFERENCIAS', 'PRODUCTOS', 'DOCUMENTOS']")
              md-tab-label
                label {{item}}
    //menu end

    //marketina start
    div.marketina-group(ng-if="$ctrl.tooglePrice")
      div.marketina.background    
      div.marketina-container
        div.prices.pl-0.pr-0.pt-1.pb-1.w-100
          md-tabs
            md-tab(ng-repeat="change in $ctrl.moneyChange")
              md-tab-label
                div
                  span.mr-1 {{change.text}}
                  span.percent {{change.porcent}}%
                div.text-left {{change.cash | currency }}
    div.pos-rel
      div.toggle-price(ng-click="$ctrl.showPrice()")
        span Indicadores
        span.pull-right(ng-if="$ctrl.tooglePrice") -
        span.pull-right(ng-if="!$ctrl.tooglePrice") +
    //marketina end
  //header end


  //carousel start
  div(uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides" style="margin-top:130px")
    div(uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id")
      img(ng-src="{{slide.image}}")
      div.carousel-caption
        div.row.text-left
          h4.mb-0.col-lg-10 {{slide.text}}
        div.row.text-left
          h2.mb-0.col-lg-10 {{slide.text1}}
        div.row.text-left
          h1.mt-0.col-lg-10 {{slide.text2}}
          button.button-success.col-lg-2 SIMULAR

  //carousel end


  div.container
    div.row
      div.col-lg-8.col-md-8.col-sm-8 SOLICITUDES
      div.col-lg-4.col-md-4.col-sm-4 PRODUCTOS
      
    div.row
      div.col-lg-8.col-md-8.col-sm-8
        div.row(ng-if="$ctrl.currentCompany.rol == $ctrl.ROL_1")
          div.col-lg-6.col-md-6.poster
            md-card 
              div.row.p-15px
                div.col-lg-7.col-md-7
                  div
                    label Transferencias
                  div
                    span Por un Monto total de
                  div
                    h3 $933.125.000
                  div
                    span Lorem ipsum dolor sit amet, consectetur

                div.col-lg-5.col-md-5 
                  div(knob)
            div.action-container
              div.text-center
                md-button.md-fab
              div.text-center Ver Transferencias
              
          div.col-lg-6.col-md-6.poster
            md-card
              div.row.p-15px
                div.col-lg-7.col-md-7
                  div
                    label Destinatarios
                  div
                    span Nuevos usuarios estan esperando su aprobacion
                  div
                    span.c-green Marcelo Perez Ignacio Gonzalez y 2 mas
                  
                div.col-lg-5.col-md-5 circle
            div.action-container
              div.text-center
                md-button.md-fab
              div.text-center Ver Destinatarios

        div.row(ng-if="$ctrl.currentCompany.rol == $ctrl.ROL_2")
          div.col-lg-12.col-md-12.poster
            md-card
              div.row.p-15px
                div.col-lg-5.col-md-5
                  div
                    label Transferencias
                  div
                    span Por un Monto total de
                  div
                    h3 $933.125.000
                  div
                    span Lorem ipsum dolor sit amet, consectetur
                div.col-lg-7.col-md-7 circle
            div.action-container
              div.text-center
                md-button.md-fab
              div.text-center asdsad

      div.col-lg-4.col-md-4.col-sm-4
        div.row
          div.col-lg-12.col-md-12.poster
            md-card
              div.row.p-15px
                div.col-lg-7.col-md-7
                  div
                    label Transferencias
                  div
                    span Por un Monto total de
                  div
                    h3 $933.125.000
                  div
                    span Lorem ipsum dolor sit amet, consectetur
                div.col-lg-5.col-md-5 circle
            div.action-container
              div.action.text-center.mr-1
                md-button.md-fab
                div Label
              div.action.text-center.ml-1
                md-button.md-fab
                div.text-center Label
                
    //list account
    div.mt-10
      account-list(list="$ctrl.currentCompany.accounts" ng-if="!$ctrl.loadAccounts")
    //aca es donde debo ponwe el ui-view para que todas las rutas entren por ahi

    //footer start
    div.row
      div.col-md-2
        img.footer-logo(src="assets/images/footer.png")
      
      div.col-md-10
        p.m-0
          a(href="#") Términos y Condiciones | 
          a(href="#") Política de Privacidad | 
          a(href="#") Trabaja con Nosotros | 
          a(href="#") Mapa del Sitio | 
          a(href="#") Mesa Central: +56 2 27871800. Infórmese sobre la garantía estatal de los depósitos en su Banco o en www.sbif.cl | 
          a(href="#") 2013 Banco Consorcio.
        p.m-0 Todos los derechos reservados. Para una correcta visualización de este sitio recomendamos usar Chrome, Mozilla Firefox o Internet Explorer 9 o superior
        
  md-sidenav.md-sidenav-right.md-whiteframe-5dp(md-component-id="right" perfect-scroll)
    div.p-2
      div.row.text-center
        img.user-avatar(src="assets/images/user.png")
        h3.c-white {{$ctrl.userLogin.fullName}}

      div.row.data.pl-2.pr-2.mt-5
        div
          span.mr-2 x
          span DATOS
          span.pull-right e
        div.pl-3.mt-2
          span Telefono Celular
        div.pl-3
          span +5691584599
        
        div.pl-3.mt-2
          span Telefono Fijo
        div.pl-3
          span +5691584599

        div.pl-3.mt-2
          span Correo Electronico
        div.pl-3
          span +5691584599

        div.pl-3.mt-2
          span Direccion
        div.pl-3
          span +5691584599
      
      div.row.pass.pl-2.pr-2
        div
          span.mr-2 x
          span CLAVES
          span.pull-right e

        div.pl-3.mt-2
          span Token
        div.pl-3
          span Habilitada

        div.pl-3.mt-2
          span Preguntas Secretas
        div.pl-3
          span Habilitada

      div.row.communication.pl-2.pr-2
        div
          span.mr-2 x
          span COMUNICACIONES
          span.pull-right e

        div.pl-3.mt-2
          span Cartolas
        div.pl-3
          span Mail

        div.pl-3.mt-2
          span Cuenta Empresa
        div.pl-3
          span Mail
        
        div.pl-3.mt-2
          span Creditos
        div.pl-3
          span Mail - Direccion Particular

      div.row.mt-5
        button.button-success.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(ng-click="$ctrl.closeToggle()") CONTACTAR A EJECUTIVO
