section
  //header star
  header
    md-toolbar.md-hue-2
      div.md-toolbar-tools
        div.row.w-100.m-0
          div.col-lg-6.col-md-6.pl-0
            img(src="assets/images/logoBanco100.png")
          div.col-lg-6.col-md-6.pr-0
            div.row
              div.col-lg-4.col-md-4
                ul.links
                  li 
                    a Ayuda
                  li 
                    a FAQ
                  li 
                    a Contacto
              div.col-lg-8.col-md-8
                div.row.user-login
                  //user login start
                  div.col-lg-8.col-md-8
                    div.row
                      div.pl-0.pr-0.col-lg-3.col-md-3.col-sm-1.col-xs-1
                        img.user-logo(src="assets/images/user.png")
                      div.col-lg-9.col-md-9.col-sm-11.col-xs-11.pl-0.pr-0.company-selector-container
                        label.user-fullname {{$ctrl.userLogin.fullName}}
                        md-menu
                          div.company-selector(ng-mouseenter="$mdMenu.open()") 
                            span {{$ctrl.currentCompany.name}}
                            span
                              i x
                          md-menu-content(width="5" ng-mouseleave="$mdMenu.close()")
                            md-menu-item(ng-repeat="item in $ctrl.userCompanies" ng-class="{'selected': item.nameID == $ctrl.currentCompany.nameID}")
                              a(ng-click="$mdMenu.close();$ctrl.selectCompany(item);") {{item.name}}
                  div.col-lg-4.col-md-4                   
                  //user login end
    
    //marketina start
    div.marketina-container
      div.background
      div.toggle-price
        span Indicadores
        span.pull-right +
        span.pull-right -
      div.container.prices.pl-0.pr-0.pt-1.pb-1
        md-tabs
          md-tab(ng-repeat="change in $ctrl.moneyChange")
            md-tab-label
              div
                span.mr-1 {{change.text}}
                span.percent {{change.porcent}}%
              div.text-left {{change.cash | currency }}
    //marketina end
  //header end




  div.container
    md-button.md-primary(ng-click="$ctrl.openToggle()") Toggle right

    div.row
      div.col-lg-8.col-md-8.col-sm-8 SOLICITUDES
      div.col-lg-4.col-md-4.col-sm-4 PRODUCTOS
      
    div.row
      div.col-lg-8.col-md-8.col-sm-8
        div.row(ng-if="$ctrl.currentCompany.rol == $ctrl.ROL_1")
          div.col-lg-6.col-md-6.poster
            md-card asdasd
            div.action-container
              md-button.md-fab
          div.col-lg-6.col-md-6.poster
            md-card asdasd
            div.action-container
              md-button.md-fab

        div.row(ng-if="$ctrl.currentCompany.rol == $ctrl.ROL_2")
          div.col-lg-12.col-md-12.poster
            md-card asdasd
            div.action-container
              md-button.md-fab

      div.col-lg-4.col-md-4.col-sm-4
        div.row
          div.col-lg-12.col-md-12.poster
            md-card asdasd
            div.action-container
              md-button.md-fab
              md-button.md-fab

    //aca es donde debo ponwe el ui-view para que todas las rutas entren por ahi
    div.row.mt-8.pos-r(ng-cloak ng-if="$ctrl.currentCompany.accounts.length")
      h3.ml-15px Cuentas Disponibles
      md-tabs.account-list(md-dynamic-height)
        md-tab(label="Cuenta N {{item.name}}" ng-disabled="item.disabled" ng-repeat="item in $ctrl.currentCompany.accounts")
          md-content.poster
            md-card.ml-15px.mr-15px
              p.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
            div.action-container
              md-button.md-fab
              md-button.md-fab.success
              md-button.md-fab
              md-button.md-fab
              md-button.md-fab

    div.mt-8(ng-cloak ng-if="!$ctrl.currentCompany.accounts.length")
      md-card
        div.row
          div.col-lg-4.col-md-4
          div.col-lg-5.col-md-5
            label Ud No posee Cuentas Corrientes Disponibles
          div.col-lg-2.col-md-2.button-success SOLICITAR
        
  md-sidenav.md-sidenav-right.md-whiteframe-4dp(md-component-id="right")
    div.p-2
      div.row
      div.row
      div.row
      div.row
      div.row
        button.button-success.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(ng-click="$ctrl.closeToggle()") CONTACTAR A EJECUTIVO
