div.row
	div.col-lg-3.col-md-3.col-sm-3.col-xs-12.message
		label.m-0 Has Seleccionado &nbsp;
			b {{$ctrl.count}} &nbsp;
			span Transferencias por un monto total de &nbsp;
			b ${{$ctrl.amount}}
	div.col-lg-6.col-md-6.col-sm-3.col-xs-12.message
		form.input-form
			div.form-text
				label Ingrese token
			div.form-element
				input(name="token" type="text" autocomplete="off" ng-model="$ctrl.token" placeholder="Token")
	button.col-lg-1.col-md-1.col-sm-2.col-xs-4.button-default-inv(ng-click="$ctrl.confirm()") Autorizar
	button.col-lg-1.col-md-1.col-sm-2.col-xs-4.button-default-inv(ng-click="$ctrl.confirmSecundary()") Rechazar
	button.col-lg-1.col-md-1.col-sm-2.col-xs-1.button-default-inv(ng-click="$ctrl.cancel()") Cerrar
