section.bg-gray.content-container
    div.container.transfer
        div.mt-4
            account-list.bg-toolbar(list="currentCompany.accounts" title="Monto Disponible" button-transfer-new="true" ng-if="!loadAccounts")

        div.pos-r.account-movement(ng-if="existAccounts")

            md-tabs.component.md-no-animation(md-dynamic-height ng-if="loadTabData")
                md-tab(label="ESTADO ORDENES DE TRANSFERECIAS")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive 
                                table.table.custom
                                    colgroup
                                        col(width="8%")
                                        col(width="11%")
                                        col(width="10%")
                                        col(width="12%")
                                        col(width="18%")
                                        col(width="15%")
                                        col(width="11%")
                                        col(width="15%")
                                    thead.thead 
                                        tr.tr
                                            th.th
                                                md-checkbox.md-primary(ng-click="toggleAll(dummyDataTransfer)" ng-model="$ctrl.selectedDummyDataTransfer") Todo 
                                            th.th Fecha 
                                            th.th Tipo 
                                            th.th.text-right Cuenta Origen
                                            th.th Destinatario
                                            th.th.text-right Monto Transferencia
                                            th.th.text-center Firmas
                                            th.th Estado
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat-start="item in dummyDataTransfer" ng-class="{'odd': $index % 2 == 0}")
                                            td.td
                                                md-checkbox.md-primary(ng-click="toggle(item, dummyDataTransfer, 'selectedDummyDataTransfer')" ng-model="item.selected")
                                            td.td.plus-icon
                                                i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="item.plus = !item.plus") add
                                                i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="item.plus = !item.plus") remove
                                                span {{item.date}}
                                            td.td.text-right {{item.type}}
                                            td.td.text-right {{item.origen}}
                                            td.td.text-uppercase.destinatario {{item.destinatario}}
                                            td.td.text-right {{item.transferencia}}
                                            td.td.text-center
                                                firm(firm="item.firmas" current-company="currentCompany")
                                            td.td 
                                                status(icon="{{item.estado.icon}}" b-class="{{item.estado.class}}" text="{{item.estado.text}}")
                                        tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
                                            td.td(colspan="8")
                                                div.row.data-container
                                                    div.col-lg-6
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Rut
                                                            div.col-lg-6.d-table
                                                                span.value 15.980.456-8
                                                        div.row.mb-3
                                                            div.col-lg-6.d-table
                                                                label.text Banco
                                                            div.col-lg-6.text-uppercase.d-table
                                                                span.value Banco Santender / Chile
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Ingresado Por
                                                            div.col-lg-6.d-table
                                                                span.value Marcelo Rojas Arriagada
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Visado Por
                                                            div.col-lg-6.d-table
                                                                span.value Daniela Andrade
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Aprobación Regla
                                                            div.col-lg-6.d-table
                                                                span.value 3A / 1B
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Aprobación Pendiente
                                                            div.col-lg-6.d-table
                                                                aprove(aprove="item.firmas")
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Autorizado Por
                                                            div.col-lg-6.d-table
                                                                span.value Juan Pablo Rojas
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Autorizar Destinatario
                                                            div.col-lg-6.pl-0
                                                                md-switch.md-primary
                                                    
                                                    div.col-lg-6
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Tipo de Cuenta
                                                            div.col-lg-6.d-table
                                                                span.value Cuenta Corriente
                                                        div.row.mb-3
                                                            div.col-lg-6.d-table
                                                                label.text Número de Cuenta
                                                            div.col-lg-6.d-table
                                                                span.value 234567890000909908098
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Estado
                                                            div.col-lg-6.d-table
                                                                span.value Liberación Pendiente
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Motivo de transferencia
                                                            div.col-lg-6.d-table
                                                                span.value Pago Proveedor
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Mensaje Destinatario
                                                            div.col-lg-6.d-table
                                                                span.value Urgente
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Tipo de Transferencia
                                                            div.col-lg-6.d-table
                                                                span.value Alto Monto
                                                        div.row
                                                            div.col-lg-6.d-table
                                                                label.text Nº de Operación
                                                            div.col-lg-6.d-table
                                                                span.value 45657678657567
                                                        div.row
                                                            div.col-lg-12.text-right.d-table
                                                                a.pointer.link Ver Comprobante

                                                div.row.inputs-container
                                                    div.col-lg-12
                                                        div.row
                                                            div.col-lg-4
                                                                form.input-form
                                                                    div.form-text
                                                                        label Comentario
                                                                    div.form-element
                                                                        input(name="comment" type="text" autocomplete="off" placeholder="Ingrese un Comentario")
                                                            div.col-lg-3.pl-0.pr-0(ng-if="item.estado.nameKey == 'AUTORIZADO'")
                                                                form.input-form
                                                                    div.form-text
                                                                        label Token
                                                                    div.form-element
                                                                        input(name="token" type="password" autocomplete="off" placeholder="********************")
                                                            div.col-lg-5.pt-05
                                                                button.button-success.sm.col-lg-5.mr-1 APROBAR / AUTORIZAR
                                                                button.button-blue.sm.col-lg-5 RECHAZAR

                md-tab(label="DESTINATARIOS")
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.mt-0.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive 
                                table.table.custom
                                    colgroup
                                        col(width="23%")
                                        col(width="12%")
                                        col(width="28%")
                                        col(width="15%")
                                        col(width="22%")
                                    thead.thead 
                                        tr.tr
                                            th.th Nombre / Alias 
                                            th.th Rut
                                            th.th Cuentas
                                            th.th Estado
                                            th.th
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat-start="item in dummyDataDestinatarios" ng-class="{'odd': $index % 2 == 0}")
                                            td.td.text-uppercase.destinatario {{item.destinatario}}
                                            td.td {{item.rut}}
                                            td.td
                                                div.text-uppercase {{item.account.bank}}
                                                account-ellipse(accounts="item.account.accounts")
                                            td.td 
                                                status(icon="{{item.estado.icon}}" b-class="{{item.estado.class}}" text="{{item.estado.text}}")
                                            td.td
                                                div.row
                                                    button.button-success.sm.col-lg-9.col-md-9 TRANSFERIR
                                                    button.button-default.icon.sm.col-lg-3.col-md-3
                                                        i.material-icons edit
                                        tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")

                md-tab(label="HISTORICAS")                
                    md-content.poster
                        md-card.pt-15px.pos-r.filter
                            div.row.m-0
                                div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top
                                    div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar Movimientos desde el
                                    div.col-lg-4.col-md-3.col-sm-4.pr-0
                                        div.input-form.refactor-bottom
                                            md-datepicker(ng-model="$ctrl.dateStart" name="dateStart" md-placeholder="_ / _ / _")

                                    div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
                                    div.col-lg-4.col-md-3.col-sm-4.refactor-padding
                                        div.input-form
                                            md-datepicker(ng-model="$ctrl.dateEnd" name="dateEnd" md-placeholder="_ / _ / _")

                                div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!$ctrl.avanzadControl")
                                    button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
                                    button.button-default.col-lg-4.col-md-5.col-sm-4.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSQUEDA AVANZADA


                            div.row.m-0(ng-if="$ctrl.avanzadControl")
                                div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0
                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        form.input-form
                                            div.form-text
                                                label.rut Rut Destinatario
                                            div.form-element
                                                input(name="rut" type="text" autocomplete="off" ng-model="rut" mask="99.999.999-9")

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeBank" ng-model-options="{trackBy: '$value.id'}" placeholder="Banco Destino") 
                                                md-option.text-uppercase(ng-value="bank" ng-repeat="bank in $ctrl.banks") {{bank.name}}

                                    div.col-lg-6.col-md-6.col-sm-4.col-xs-12.pr-0
                                        md-input-container.input-form
                                            md-select.md-no-underline(ng-model="$ctrl.chequeAccount" ng-model-options="{trackBy: '$value.name'}" placeholder="Cuenta Destino") 
                                                md-option.text-uppercase(ng-value="account" ng-repeat="account in $ctrl.accounts") {{account.name}}

                                div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
                                    div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container
                                        div Tipos
                                        md-radio-group
                                            md-radio-button.md-primary(value="ALL") Todas
                                            md-radio-button.md-primary(value="TOP") Alto Monto
                                            md-radio-button.md-primary(value="DOWN") Bajo Monto
                                            md-radio-button.md-primary(value="EXTRA") Masivos

                                    div.col-lg-12.col-md-12.col-sm-5.col-xs-12
                                        button.button-success.col-lg-offset-2.col-lg-6.col-md-offset-1.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") BUSCAR
                                        button.button-default.col-lg-4.col-md-5.col-sm-6.col-xs-6(ng-click="$ctrl.avanzadControl = !$ctrl.avanzadControl;") CANCELAR

                        md-card.mt-0.pt-15px.pl-15px.pr-15px.pos-r
                            div.table-responsive
                                table.table.custom
                                    colgroup
                                        col(width="20%")
                                        col(width="20%")
                                        col(width="20%")
                                        col(width="40%")
                                    thead.thead 
                                        tr.tr 
                                            th.th Año
                                            th.th Mes
                                            th.th Folio
                                            th.th.text-right Documentos
                                    tbody.tbody 
                                        tr.tr.tr-container(ng-repeat="item in historica")
                                            td.td {{item.year}}
                                            td.td.text-uppercase {{item.month}}
                                            td.td {{item.folio}}
                                            td.td.text-right.documents
                                                div.arrow-container-download
                                                    a.pointer
                                                        span Descargar
                                                        span
                                                            i.material-icons cloud_download

