div.container.product-modal
	div.header.mt-2.mb-0
		div.logo
			img.logo(src="images/isologo-premium-modal.png")
		div.close
			i.material-icons(ng-click="close()") close

	div.title.mb-3
		h3 Productos

	div.title.mb-3
		h4 Seleccione el Producto que desea Solicitar y un ejecutivo se Contactara con Ud

	div.products-grid
		div.row
			div.col-lg-12.table-row
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 CREDITO COMERCIAL
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 DEPOSITO A PLAZO
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 FORWARD
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 LEASING
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
		div.row
			div.col-lg-12.table-row
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 COMEX
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 FACTORING
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
					div.title.mb-2
						h3.h3 BOLETA DE GARANTIA
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
				div.col-lg-3.inner-div
