section.bg-gray.content-container
	div.container.products
		div.mt-4
			product-profiler.bg-toolbar(list="[]" title="Productos")
		div.pos-r.account-movement(ng-if="loadTabData")
			md-tabs.component.md-no-animation(md-dynamic-height ng-if="loadTabData" md-selected="selectedIndex")
				md-tab(label="CREDITO COMERCIAL" md-on-select="onTabChanges(0)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-6.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text Estado
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											md-select.md-no-underline(ng-model="selectedStateOption")
												md-option.text-uppercase(ng-value="state.text" ng-repeat="state in states") {{state.text}}

								div.col-lg-3.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col(width="13%")
										col(width="15%")
										col(width="15%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
									thead.thead
										tr.tr
											th.th.text-right Monto Carta de Cr&eacute;dito
											th.th.text-right Estado
											th.th.text-right Fec. Emisi&oacute;n
											th.th.text-right Fec. Vencimiento
											th.th.text-right Monto Contigencia
											th.th.text-right Saldo Contingencia
											th.th.text-right Moneda
											th.th.text-right Nº de referencia
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="item.plus = !item.plus") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="item.plus = !item.plus") remove
												span {{item.carta}}
											td.td.text-right
												invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
											td.td.text-right {{item.fecha}}
											td.td.text-right {{item.vence}}
											td.td.text-right {{item.contingencia}}
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.moneda.description}}
											td.td.text-right {{item.ref}}
										//DETAIL
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cr&eacute;dito Original
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value 65345345453
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cr&eacute;dito (&Uacute;ltimo Curse)
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value 65345345740
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Original
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Moneda
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value {{item.moneda.description}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Curse
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value 3.49%

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Emisi&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cuotas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		md-slider-container.smaller
																			span.value {{slider.value}}
																			md-slider(min="0" max="36" ng-model="slider.value" aria-label="green" ng-disabled="true" id="green-slider").md-accent
																			span.value 36
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Abono
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Abono
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Gasto Nortario
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $2.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Impuesto
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $50.000
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right
																	a(href="#").exportar Exportar
												div.row.data-container
													div.col-lg-12
														md-card
															div.md-card-header Cuentas Por Cobrar
																span &nbsp;&nbsp;&nbsp;Si
															div.md-card-body
																div.row.data-container
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Operaci&oacute;n
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Cuenta Por Cobrar
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Rut
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Nombre
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Vigencia
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Pago
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Contable
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Descripci&oacute;n
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value 3.49%
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Monto total
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Saldo
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Valor
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data

												div.row.data-container
													div.col-lg-12
														md-card.detail-table
															div.table-responsive
																table.table.custom
																	colgroup
																		col
																		col
																		col
																		col
																		col
																		col
																		col
																		col
																		col
																		col
																		col
																	thead.thead
																		tr.tr
																			th.th Cuota
																			th.th Monto Cuota
																			th.th Capital
																			th.th Inter&eacute;s
																			th.th Capital Reducido
																			th.th Gasto Mora
																			th.th Gasto Cobranza
																			th.th Estado Cuota
																			th.th Total a Pagar
																			th.th Fecha Pago
																			th.th Monto Recaudado
																	tbody.tbody
																		tr.tr.tr-container(ng-repeat="item in cuotes")
																			td.td.plus-icon
																				span {{item.numero}}
																			td.td {{item.monto}}
																			td.td {{item.capital}}
																			td.td {{item.interes}}
																			td.td {{item.capital_reducido}}
																			td.td.text-right
																				div {{item.gasto_mora.monto}}
																				div {{item.gasto_mora.dias}}
																			td.td {{item.gasto_cobranza}}
																			td.td.text-center
																				invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
																			td.td {{item.total}}
																			td.td {{item.fecha}}
																			td.td {{item.recaudado}}
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="$ctrl.lastMovementPagination" ng-click="pagination('administrador')") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!$ctrl.lastMovementPagination") CARGAR M&Aacute;S
				md-tab(label="DEPOSITO A PLAZO" md-on-select="onTabChanges(1)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-2
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text Estado
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											md-select.md-no-underline(ng-model="selectedStateOption")
												md-option.text-uppercase(ng-value="state.text" ng-repeat="state in states") {{state.text}}
								div.col-lg-2
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text
										span N
										sup o
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											div.form-element.custom-align
												input(name="no" ng-model="no" type="number")

								div.col-lg-3.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col
										col
										col
										col
										col
										col
										col
										col
									thead.thead
										tr.tr
											th.th.text-center
												span N
												sup o
												span &nbsp;Dep
											th.th.text-center Plazo (D&iacute;as)
											th.th.text-center Tasa
											th.th.text-center Estado
											th.th.text-center Monto
											th.th.text-center Monto Final
											th.th.text-center Fech. Vencimiento
											th.th.text-center Moneda
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="item.plus = !item.plus") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="item.plus = !item.plus") remove
												span {{item.ref}}
											td.td.text-right {{item.plazo}}
											td.td.text-right {{item.tasa}}
											td.td.text-right
												invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.carta}}
											td.td.text-right {{item.vence}}
											td.td.text-right {{item.moneda.description}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Nombre Cliente
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value.client {{item.cliente}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value Plazo Fijo {{item.plazo}} D&iacute;as
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Inter&eacute;s
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Per&iacute;odo
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Base
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Moneda
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.moneda.description}}

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Inversi&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Rut
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Inicial
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Intereses
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $2.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Final
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right
																	a(href="#").exportar Exportar
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="$ctrl.lastMovementPagination" ng-click="pagination('apoderados')") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!$ctrl.lastMovementPagination") CARGAR M&Aacute;S
				md-tab(label="FORWARD" md-on-select="onTabChanges(2)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-2
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text Tipo
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											md-select.md-no-underline(ng-model="selectedTypeOption")
												md-option.text-uppercase(ng-value="type" ng-repeat="type in types") {{type}}
								div.col-lg-3
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text
										span N
										sup o
										span  &nbsp;Contrato
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											div.form-element.custom-align
												input(name="no" ng-model="no" type="number")

								div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col
										col
										col
										col
										col
										col
										col
										col
									thead.thead
										tr.tr
											th.th.text-center Tipo
											th.th.text-center
												span N
												sup o
												span &nbsp;Contrato
											th.th.text-center Fecha Operaci&oacute;n
											th.th.text-center Fecha Vencimiento
											th.th.text-center Plazo
											th.th.text-center Plazo Residual
											th.th.text-center Moneda Origen
											th.th.text-center Monto Origen
											th.th.text-center Precio
											th.th.text-center Moneda CNV
											th.th.text-center Monto CNV
									tbody.tbody
										tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.text-right {{item.tipo}}
											td.td.text-right {{item.ref}}
											td.td.text-right {{item.fecha}}
											td.td.text-right {{item.fecha}}
											td.td.text-right 1 A&ntilde;o
											td.td.text-right 1 A&ntilde;o
											td.td.text-right {{item.moneda.code}}
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.moneda.code}}
											td.td.text-right {{item.saldo}}
				md-tab(label="LEASING" md-on-select="onTabChanges(3)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-2
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text Tipo
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											md-select.md-no-underline(ng-model="selectedTypeOption")
												md-option.text-uppercase(ng-value="currency.code" ng-repeat="currency in currencies") {{currency.code}}
								div.col-lg-3
									div.col-lg-4.col-md-4.col-sm-3.pr-0.text
										span N
										sup o
										span  &nbsp;Contrato
									div.col-lg-8.col-md-3.col-sm-4.pr-0
										md-input-container.input-form
											div.form-element.custom-align
												input(name="no" ng-model="no" type="number")

								div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col
										col
										col
										col
										col
										col
									thead.thead
										tr.tr
											th.th.text-center
												span N
												sup o
												span &nbsp;Contrato
											th.th.text-center Monto Operaci&oacute;n
											th.th.text-center Moneda
											th.th.text-center Valor Renta
											th.th.text-center Seguro
											th.th.text-center Fecha Curse
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="item.plus = !item.plus") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="item.plus = !item.plus") remove
												span {{item.ref}}
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.moneda.code}}
											td.td.text-right {{item.saldo}}
											td.td.text-right {{item.seguro}}
											td.td.text-right {{item.fecha}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Rut
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value {{item.rut}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Cliente
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value.client {{item.cliente}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Original
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Estado
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo Leasing
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value LEASING NO INMOBILIARIO
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Propiedades UF y USD
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value
																			b UF:
																			span &nbsp;$29.265 -&nbsp;
																			b USD:
																			span &nbsp;$661.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Venc. Anticipados o Vencidos
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.anticipado === true ? 'Anticipado' : 'Vencido'}}

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha Primer Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cuotas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		md-slider-container.smaller
																			span.value {{slider.value}}
																			md-slider(min="0" max="36" ng-model="slider.value" aria-label="green" ng-disabled="true" id="green-slider1").md-accent
																			span.value 36
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cuotas Morosas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		div.icon.red 3
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha &Uacute;ltimo Pago
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Saldo Insoluto Neto
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right
																	a(href="#").exportar Exportar
														div.row.data-container
															div.col-lg-12
																h4
																	b BIENES
																md-card.detail-table
																	div.table-responsive
																		table.table.custom
																			colgroup
																				col
																				col
																				col
																				col
																				col
																				col
																			thead.thead
																				tr.tr
																					th.th Cantidad
																					th.th Descripci&oacute;n
																					th.th Tipo Seguro
																					th.th Valor Unitario
																					th.th Valor Total
																					th.th Moneda
																			tbody.tbody
																				tr.tr.tr-container(ng-repeat="item in assets")
																					td.td {{item.cantidad}}
																					td.td {{item.descripcion}}
																					td.td {{item.seguro}}
																					td.td.text-right {{item.unitario}}
																					td.td.text-right {{item.total}}
																					td.td.text-right {{item.moneda.code}}
														div.row.data-container
															div.col-lg-12
																h4
																	b RENTAS
																md-card.detail-table
																	div.table-responsive
																		table.table.custom
																			colgroup
																				col
																				col
																				col
																				col
																				col
																				col
																				col
																				col(width="15%")
																				col(width="18%")
																			thead.thead
																				tr.tr
																					th.th
																						span N
																						sup o
																					th.th Fecha Vencimiento
																					th.th Valor Rentas Neto
																					th.th D&iacute;as Mora
																					th.th Intereses Mora
																					th.th Gastos Cobranza
																					th.th Renta Bruta
																					th.th.text-center Factura
																					th.th.text-center Estado
																			tbody.tbody
																				tr.tr.tr-container(ng-repeat="item in cuotes")
																					td.td {{item.numero}}
																					td.td {{item.fecha}}
																					td.td.text-right {{item.monto}}
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-right {{item.monto}}
																					td.td.text-center.download
																						div.arrow-container-download
																							a.pointer
																								span Descargar
																								span
																									i.material-icons cloud_download
																					td.td.text-right
																						invest-status(b-class="{{item.estado_renta.class}}" text="{{item.estado_renta.text}}")

				md-tab(label="FACTORING" md-on-select="onTabChanges(4)")
					md-content.poster
						md-card.debt
							div.row
								div.col-lg-3.shrinked
									div.row
										span Deuda Total: 23 Documentos
									div.row
										div.price $500.503.00
								div.col-lg-3.shrinked
									div.row
										span Deuda Vigente: 03 Documentos
									div.row
										div.price $100.200.123
								div.col-lg-3.shrinked
									div.row
										span Deuda Morosa: 03 Documentos
									div.row
										div.price $400.960.789
								div.col-lg-3.shrinked
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.radio-container-advanced-search
										md-radio-group(ng-model="factoringTabVisibility")
											md-radio-button.md-primary(value="WALLET") Cartera
											md-radio-button.md-primary(value="PAYMENTS") Pagos
											md-radio-button.md-primary(value="FORWARDING") Liquidaci&oacuten de Anticipos
											md-radio-button.md-primary(value="REMAININGS") Cartola de Excedentes

								div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!showAdvancedSearch")
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
									button.button-default.col-lg-4.col-md-4.col-sm-4.col-xs-6(ng-click="toggleAdvancedSearch()") BUSQUEDA AVANZADA


							div.row.m-0(ng-if="showAdvancedSearch && factoringTabVisibility === 'WALLET'")
								div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0.col-lg-8-less.col-md-8-less
									div.col-lg-3.col-md-3.col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Todos
														li
															md-checkbox.md-primary Facturas
														li
															md-checkbox.md-primary Pagar&eacute;s
									div.col-lg-3.col-md-3col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Letras
														li
															md-checkbox.md-primary Otros Documentos
									div.col-lg-3.col-md-3col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Vigentes
														li
															md-checkbox.md-primary Morosos

								div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
									div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container.adjust
									div.col-lg-12.col-md-12.col-sm-4.col-xs-12.advanced-search-footer-buttons
										button.button-success.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-5.col-sm-6.col-xs-6.col-md-4-less(ng-click="showAdvancedSearch = !showAdvancedSearch;") BUSCAR
										button.button-default.col-lg-3.col-md-3.col-sm-6.col-xs-6(ng-click="toggleAdvancedSearch()") CANCELAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r(ng-if="factoringTabVisibility === 'WALLET'")
							div.table-responsive
							table.table.custom
								thead.thead
									tr.tr
										th.th.text-right Fecha Operaci&oacute;n
										th.th.text-right
											span N
												sup o
											span &nbsp; Op.
										th.th.text-left Nombre Deudor
										th.th.text-right
											span N
											sup o
											span &nbsp; Doc.
										th.th.text-left Tipo Doc.
										th.th.text-right Moneda
										th.th.text-right Monto Doc
										th.th.text-right Saldo Insoluto
										th.th.text-right Fecha Vencimiento
										th.th.text-right Estado
								tbody.tbody
									tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
										td.td.text-right {{item.fecha}}
										td.td.text-right {{item.ref}}
										td.td.text-left.green
											div {{item.deudor.code}}
											div {{item.deudor.description}}
										td.td.text-right {{item.ref}}
										td.td.text-left {{item.tipo_documento}}
										td.td.text-right {{item.moneda.code}}
										td.td.text-right {{item.saldo}}
										td.td.text-right {{item.saldo}}
										td.td.text-right {{item.fecha}}
										td.td.text-right
											invest-status(b-class="red" text="MOROSO")

				md-tab(label="B.GARANTIA" md-on-select="onTabChanges(5)")
				md-tab(label="COMEX" md-on-select="onTabChanges(6)")
				md-tab(label="CONFIRMING" md-on-select="onTabChanges(7)")
					md-content.poster
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col(width="20%")
										col(width="15%")
										col(width="20%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
										col(width="15%")
									thead.thead
										tr.tr
											th.th Rut
											th.th Nombres
											th.th A. Paterno
											th.th A. Materno
											th.th Tipo Operador
											th.th Estado
											th.th Telefono
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in []" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												span {{item.rut}}
											td.td {{item.nombre}}
											td.td {{item.padre}}
											td.td {{item.madre}}
											td.td
												status(icon="{{item.tipo.icon}}" b-class="{{item.tipo.class}}" text="{{item.tipo.text}}")
											td.td
												status(icon="{{item.estado.icon}}" b-class="{{item.estado.class}}" text="{{item.estado.text}}")
											td.td {{item.tel}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="7")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row
															div.col-lg-4.adjust-type
																form.input-form
																	div.form-text
																		label Tipo
																	div.form-element
																		input(name="contact" type="text" ng-model="item.tipo.icon" autocomplete="off", ng-disabled="!onEdit")
															div.col-lg-4.pl-0.pr-sm-0
																form.input-form(name="mailForm" ng-class="{'has-error': mailForm.mail.$error.mail }")
																	div.form-text
																		label Mail
																	div.form-element
																		input(name="mail" type="text" ng-model="item.mail" autocomplete="off" ng-disabled="!onEdit" auto-focus pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$" required mail-validation )
															div.col-lg-3.pl-0.pr-0.col-md-12.pr-sm-0.sm-4-pr-0.adjust-cel
																form.input-form
																	div.form-text
																		label Celular
																	div.form-element
																		input(name="movil" type="text" ng-model="item.tel" autocomplete="off" ng-disabled="!onEdit" mask="+999999-9999")
																	i.material-icons.md-inline-edit(ng-click="onEdit=!onEdit") edit

														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Ingresado Por
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value Marcelo Rojas Arriagada
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Autorizado Por
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value Daniela Andrade
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Estado
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		md-switch.md-primary.adjust-pendiente Pendiente a Autorizaci&oacute;n
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Reglas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		ul.rules
																			li.value (1A o 2B) y 1C

																			li.value (1A o 2B) y 1C

																			li.value (1A o 2B) y 1C

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Funciones
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		ul.rules.check
																			li
																				md-checkbox.md-primary Ingreso
																			li
																				md-checkbox.md-primary Visado
																			li
																				md-checkbox.md-primary Autorizaci&oacute;n
																			li
																				md-checkbox.md-primary Liberaci&oacute;n
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.row
																	div.col-lg-offset-5.col-lg-3.pl-0.pr-sm-0.sm-4-pr-0
																		form.input-form
																			div.form-text
																				label Token
																			div.form-element
																				input(name="token" type="password" autocomplete="off" placeholder="********************")
																	div.col-lg-4.pl-0.pr-0.pb-e8.pt-em
																		button.button-success.sm.col-lg-5.col-md-6.mr-1(ng-click="aceptar()") ACEPTAR
																		button.button-blue.sm.col-lg-5.col-md-5 CANCELAR

								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="$ctrl.lastMovementPagination" ng-click="pagination('operadores')") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!$ctrl.lastMovementPagination") CARGAR M&Aacute;S


