div.container.product-modal
	div.header.mt-2.mb-0
		div.logo
			img.logo(src="images/isologo-premium-modal.png")
		div.close
			i.material-icons(ng-click="close()") close

	div.title.mb-3
		h3 Productos

	div.title.mb-3
		h4 Seleccione el Producto que desea Solicitar y un ejecutivo se Contactara con Ud

	div.products-grid
		div.row
			div.col-lg-12.table-row
				div.col-lg-3.inner-div(ng-click="finish()")					
					div.title.mb-2
						img.logo.center(src="images/icons/icon_credito_comercial.svg")
						h3.h3 CREDITO COMERCIAL
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR

				div.col-lg-3.inner-div(ng-click="finish()")					
					div.title.mb-2
						img.logo.center(src="images/icons/icon_Deposito_plazo.svg")
						h3.h3 DEPOSITO A PLAZO
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
				div.col-lg-3.inner-div(ng-click="finish()")
					div.title.mb-2
						img.logo.center(src="images/icons/Icon_forward.svg")
						h3.h3 FORWARD
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
				div.col-lg-3.inner-div(ng-click="finish()")
					div.title.mb-2
						img.logo.center.leasing(src="images/icons/icon_boleta.svg")
						h3.h3 LEASING
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
		div.row
			div.col-lg-12.table-row
				div.col-lg-3.inner-div(ng-click="finish()")
					div.title.mb-2
						img.logo.center(src="images/icons/icon_comex.svg")
						h3.h3 COMEX
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
				div.col-lg-3.inner-div(ng-click="finish()")
					div.title.mb-2
						img.logo.center(src="images/icons/icon_factoring.svg")
						h3.h3 FACTORING
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
				div.col-lg-3.inner-div(ng-click="finish()")
					div.title.mb-2
						img.logo.center(src="images/icons/icon_boleta.svg")
						h3.h3 BOLETA DE GARANTIA
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et commodo nibh.
					button.col-lg-10.inner-div.button-success.request-button SOLICITAR
				div.col-lg-3.inner-div
