// for loading font-awesome icons
$fa-font-path: '~font-awesome/fonts/';

@import '~font-awesome/scss/font-awesome';

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Medium;
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: SFNSText;
    src: url('fonts/San-Francisco-Regular.ttf');
}
@font-face {
  font-family: HelveticaNeue;
  src: url('fonts/HelveticaNeue.ttf');
}

/*===========================================
========= Loading Bootstrap Styles ==========
=============================================*/
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~angular-material/angular-material';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~md-steppers/dist/md-steppers.min.css';

/*===========================================
========= Loading Customize Styles ==========
=============================================*/
// loading blocks
@import 'vars/colors';

// loading blocks
@import 'blocks/button';
@import 'blocks/login';
@import 'blocks/forgot';
@import 'blocks/extra-layout';
@import 'blocks/modals';

.is-focused {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
}

.is-focused-black {
    border: 1px solid rgba(74, 74, 74, 0.1);
    background-color: rgba(227, 227, 227, 0.4);
    box-shadow: 0 0 10px rgba(74, 74, 74, 0.3);
    outline: none;
}