// for loading font-awesome icons
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Medium;
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: SFNSText;
    src: url('fonts/San-Francisco-Regular.ttf');
}
@font-face {
  font-family: HelveticaNeue;
  src: url('fonts/HelveticaNeue.ttf');
}

/*===========================================
========= Loading Bootstrap Styles ==========
=============================================*/
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~angular-material/angular-material';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~md-steppers/dist/md-steppers.min.css';

/*===========================================
========= Loading Customize Styles ==========
=============================================*/
// loading blocks
@import 'vars/colors';

:focus {
    outline: none;
}

// loading blocks
@import 'blocks/button';
@import 'blocks/extra-layout';
@import 'blocks/modals';
@import 'blocks/account-list';
@import 'blocks/layout';
@import 'blocks/menu';

@import 'blocks/login';
@import 'blocks/forgot';
@import 'blocks/header';
@import 'blocks/user-profile';
@import 'blocks/dashboard';

.is-focused {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
}
.is-focused-black {
    border: 1px solid rgba(74, 74, 74, 0.1);
    background-color: rgba(227, 227, 227, 0.4);
    box-shadow: 0 0 10px rgba(74, 74, 74, 0.3);
    outline: none;
}
.border-left { border-left: 1px solid #dddddd; }

md-menu-content {

    padding: 0px;

    md-menu-item { 

        cursor: pointer;
        
        a, a:hover {
            color: $c-black;
            text-decoration: none;
        }
    }

    md-menu-item.selected {
        
        background-color: $c-gray-light;
    }
}

md-card { margin: 8px 0px; }

md-backdrop.md-sidenav-backdrop {
    height: 100% !important;
    position: fixed !important;
}

.md-sidenav-right, .md-sidenav-left  { position: fixed; }
.column { display: inline-block;vertical-align: top; }

/*MEDIA SCREEN*/
@media (max-width: 767px) {//col-xs
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    .container {}
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    .container {}
}
@media (min-width: 1200px) {//col-lg
    
}