div.modal-header 
    h3.modal-title FIRMAS DE APODERADOS
div.modal-body
    div(ng-repeat="item in firms track by $index")
        span.text(ng-class="{'green': item.status}") {{item.name}}
        span.icons
            i.material-icons.green-firm(ng-if="item.status") check_circle
            i.material-icons.gray-firm(ng-if="!item.status") brightness_1
    
    span.col-lg-8.col-md-12.col-sm-12.col-xs-12.text-left.pl-0.text-notification(ng-if="currentCompany.rol == 'APODERADO'") Autoriza ingresando tu Token

div.modal-footer(ng-class="{'no-border': currentCompany.rol == 'APODERADO'}")
    div.row(ng-if="currentCompany.rol == 'APODERADO'")
        div.input-form.col-lg-12
            div.form-text
                label.rut Token
            div.form-element
                input(name="token" type="password" autocomplete="off" placeholder="Ingrese Token" required="required")
    div.row(ng-if="currentCompany.rol != 'APODERADO'")
        span.col-lg-8.col-md-12.col-sm-12.col-xs-12.text-left.pl-0 Enviales un recordatorio a los apoderados Faltantes
        button.button-success.sm.col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-click="success()") ENVIAR RECORDATORIO
    div.row(ng-if="currentCompany.rol == 'APODERADO'")
        button.button-success.sm.col-lg-12.col-md-12.col-sm-12.col-xs-12 AUTORIZAR