section.cso-login(cso-auto-height)
  .cso-wrapper
    .cso-login__videobackground
      video(autoplay="" loop="" muted="" poster="assets/images/loginvideo-poster.png")
        source(src="assets/videos/loginvideo.mp4")
    .cso-login__wrapper
      img.cso-login__brand(src="assets/images/isologo-normal.png")
      .cso-login__wizard
        form.cso-form-glass(name="loginStep1" ng-if="$ctrl.getWizardStep() == 1" ng-submit="$ctrl.submitWizard(1)")
          div.cso-form-glass__wrapper
            h3.cso-form-glass__title Ingresa tu nombre
            div.cso-form-glass__input-wrapper(input-focus="")
              i.material-icons.cso-form-glass__input-icon perm_identity
              label.cso-form-glass__label(for="login-name") Nombre
              input.cso-form-glass__input(name="login-name" type="text" ng-model="vm.model.userName" 
                                                                           cso-autofocus required="required" id="login-name")
            button.cso-button.cso-button--expand.cso-button--raised(ladda="vm.state.pendingRequest" ng-disabled="loginStep1.$invalid") Siguiente
  
      .cso-wrapper
        .cso-login__alternative-links
          ul.cso-link-list
            li.cso-link-list__item.cso-link-list__item--centered
              a(ng-click="$crtl.becomeClient()") Hazte cliente
            li.cso-link-list__item.cso-link-list__item--centered
              a(ng-click="$crtl.lostPassword()") ¿Olvidaste tu clave?
            li.cso-link-list__item.cso-link-list__item--centered(ng-if="$crtl.getWizardStep() == 3")
              a(ng-click="$crtl.reset()") Ingresar con otro usuario
      .cso-wrapper
        ul.cso-link-list.cso-login__help-links
          li.cso-link-list__item.cso-link-list__item--centered.cso-link-list__item--plain
            a(ng-click="$ctrl.emergency()")
              i.material-icons.cso-login__help-icon warning
              | Emergencias Bancarias
      footer.cso-login__footer
        .cso-wrapper
          p.cso-footer__legal.cso-footer__legal--light
            img(src="assets/images/isologo-normal.png")
            | Infórmate sobre la garantía estatal de los depósitos en tu Banco o en www.sbif.cl | 2017 Banco Consorcio. Todos los derechos reservados.
            | Para una correcta visualización de este sitio recomendamos usar Chrome, Mozilla Firefox o Internet Explorer 10 o superior.