div.container.user-modal
	div.header.mt-2.mb-0
		div.logo
			img.logo(src="images/isologo-premium-modal.png")
		div.close
			i.material-icons(ng-click="close()") close

	div.title.mb-3
		h3 Crear Regla
	div.row.mb-6
		div.col-lg-12
			wizard(on-finish="finishedWizard()" hide-indicators="true")
				wz-step(canexit="exitValidation")
					h4.text-center.mb-2 Creación Nueva Regla, Solicitud Nº {{userRequest}} )

					form.row(name="form")
						div.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-1.col-sm-10.col-xs-12.padding-0.detail-account
							div.account-container
								label.mb-0 Estimado cliente
								p.mb-0 La siguiente solicitud posee un tiempo de Aprobación de 48 horas habiles, desde la entrega del documento a las dependencias del Banco Consorcio.

						div.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-1.col-sm-10.col-xs-12.padding-0.pos-r
							div.placeholder-select
								label Producto
							md-input-container.input-form
								md-select.md-no-underline(ng-model="stepData[0].data.userType" ng-model-options="{trackBy: '$value.id'}" ng-change="updateUserType(stepData[0].data.userType)")
									md-option.text-uppercase(ng-value="type" ng-repeat="type in userTypes") {{type.name}}


							div.col-lg-6.col-md-6.col-sm-6.col-xs-12.pl-0.padding-rigth-xs-0
								div.input-form(ng-class="{'has-error': form.monto.$error.integer }")
									div.form-text
										label.rut Monto Desde
									div.form-element
										input(name="monto" type="text" autocomplete="off" ng-model="stepData[0].data.rut" placeholder="$0" integer-validation)

							div.col-lg-6.col-md-6.col-sm-6.col-xs-12.p-0
								div.input-form(ng-class="{'has-error': form.rut.$error.integer }")
									div.form-text
										label.rut Hasta
									div.form-element
										input(name="rut" type="text" autocomplete="off" ng-model="stepData[0].data.forma" placeholder="$500.000" integer-validation)

							div.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12.pt-2
								button.button-default.col-lg-offset-1.col-lg-5.col-md-offset-1.col-md-5.col-sm-offset-2.col-sm-4.col-xs-6(ng-click="close()") CANCELAR
								input.button-success.col-lg-5.col-md-5.col-sm-4.col-xs-6(type="submit" ng-click="done()" value="GUARDAR" ng-if="!saving")
								button.button-success.spinner-custom.col-lg-5.col-md-5.col-sm-4.col-xs-6(ng-if="saving")
									img(src="images/spinner.gif")


