account-list { 
    
    .title {
        display: inline;
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 18px;
        text-transform: uppercase;
    }
    md-card { height: auto !important; }
    md-content {
        // min-height: 350px;
        overflow: initial;
    }
    md-tab-content.md-active {
        padding-bottom: 70px;
    }
    
    md-tabs-canvas {
        
        margin-left: 25rem;
        height: 30px;

        md-pagination-wrapper { height: 30px; }
        md-ink-bar {
            color: $c-blue-light;
            background: $c-blue-light;
            height: 3px !important;
        }
        
    }

    md-tab-item {
        
        padding: 6px 0px !important;
        margin: 0px 20px;
        font-family: Roboto !important;
        color: #4A4A4A !important;        
        font-size: 13px !important;
        font-weight: 500 !important;
        letter-spacing: 0.46px !important;
        line-height: 16px !important;
    }

    .action-container {
        position: absolute;
        right: 5 !important;
        bottom: -60px;

        .action {
            display: inline-block;
            vertical-align: top;
        }
    }

    small.card-text {
        font-family: Roboto;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    div.price {
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        font-weight: 400;
        letter-spacing: -0.09px;
        line-height: 36px;
    }
    div.price-green {
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        letter-spacing: -0.09px;
        line-height: 36px;
    }
    span.tag {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: .5rem;
    }

    .tag-text {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        letter-spacing: -0.31px;
        line-height: 16px;
    }
      
    .tag-value {
        font-family: Roboto;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.31px;
        line-height: 16px;
    }

    .not-found {
        img { height: 50px; }
        h3 { margin-top: 15px; }
    }
}