account-list { 
    
    .title {
        display: inline;
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 18px;
        text-transform: uppercase;
    }
    md-card { height: auto !important; }
    md-content {
        overflow: initial;
    }
    md-tab-content {min-height: 270px;}
    md-tab-content.md-active {
        padding-bottom: 70px;
    }
    
    md-tabs-wrapper {
        margin-left: 25rem;
    }

    md-tabs-canvas {
        
        
        height: 30px;

        md-pagination-wrapper { height: 30px; }
        md-ink-bar {
            color: $c-blue-light;
            background: $c-blue-light;
            height: 3px !important;
        }
        
    }
    md-tabs.md-no-animation md-tab-content {
        transition: none;
    }

    md-tab-item {
        
        padding: 6px 0px !important;
        margin: 0px 20px;
        font-family: Roboto !important;
        color: #4A4A4A !important;        
        font-size: 13px !important;
        font-weight: 500 !important;
        letter-spacing: 0.46px !important;
        line-height: 16px !important;
    }

    .action-container {
        position: absolute;
        right: -4!important;
        bottom: -69px;

        .pagar {

            .md-fab.success {
                margin-right: 5px;
            }
            .button-text.text-center {
                max-width: 65px;
            }
        }
        .credito {
            .md-fab.success {
                margin-right: 4px;
            }
        }
        .transfer {
            .md-fab.success {
                margin-right: 5px;
            }
        }
        .saldo {
            .md-fab.success {
                margin-right: 9px;
            }
        }

        .action {
            display: inline-block;
            vertical-align: top;
        }
    }

    small.card-text {
        font-family: Roboto;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    div.price {
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        font-weight: 400;
        letter-spacing: -0.09px;
        line-height: 36px;
    }
    div.price-green {
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        letter-spacing: -0.09px;
        line-height: 36px;
    }
    span.tag {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: .5rem;
    }

    .tag-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        letter-spacing: -0.31px;
        line-height: 16px;
        padding-right: 0px;
    }
      
    .tag-value {
        font-family: Roboto;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.31px;
        line-height: 16px;
    }

    .not-found {
        img { height: 50px; }
        h3 { margin-top: 15px; }
    }

    .button-text {
        max-width: 70px;
    }
}

@media (max-width: 500px) {//col-xs
    account-list .action-container {
        bottom: -75px !important;
        right: -1px !important;
    }
    account-list .action-container .pagar .button-text.text-center {
        max-width: 59px;
    }
    account-list .action-container .credito .md-fab.success {
        margin-right: 3px;
    }
    account-list .action-container .transfer .md-fab.success {
        margin-right: 7px !important;
    }
    
}

/*MEDIA SCREEN*/
@media (max-width: 767px) {//col-xs
    account-list md-tab-content {
        min-height: 430px;
    }
    account-list md-tab-item { margin: 0 10px; }
    account-list md-tab-item:first-child { margin-left: 0px; }
    account-list md-tabs-wrapper {  
        width: 100% !important;
        margin-left: 0px;
    }
    account-list .title { position: relative; }
    account-list md-tabs { margin-top: 1rem; }
    .border-left {
        margin-top: 2rem;
        padding-top: 2rem;
        border-left: none !important;
        border-top: 1px solid #ddd !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    account-list md-tab-content {
        min-height: 430px;
    }
    account-list md-tab-item { margin: 0 10px; }
    account-list md-tab-item:first-child { margin-left: 0px; }
    account-list md-tabs-wrapper {  
        width: 100% !important;
        margin-left: 0px;
    }
    account-list .title { position: relative; }
    account-list md-tabs { margin-top: 1rem; }
    .border-left {margin-top: 2rem;border-left: none !important;}
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    account-list md-tab-content {
        min-height: 400px;
    }
    account-list md-tab-item { margin: 0 10px; }
    account-list md-tabs-wrapper {  width: calc(100% - 25rem) !important; }
    .border-left {margin-top: 2rem;border-left: none !important;}
}