.button-success, .button-default, .button-default-inv {
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    display: -webkit-inline-box;
    border: none;
    font-size: 14px;
    font-family: Roboto-Medium;
    font-weight: 500;
    letter-spacing: -0.03px;
    line-height: 17px;
}

.button-success {
    background-color: $c-green;
    color: $c-white;
}

.button-success[disabled] {
    background-color: $c-green-disabled;
}

.button-default { 
    background-color: transparent; 
    color: $c-green;
    box-shadow: none;
}
.button-default-inv {
    background-color: transparent; 
    color: $c-white;
    box-shadow: none;
}

.button-text {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .12px;
    line-height: 12px;
    max-width: 85px;
}

// .md-button.md-fab, .md-button.md-fab:not([disabled]):hover { background-color: $c-blue; }
.md-button.md-fab.success { background-color: $c-blue; }
.md-button.md-fab.success:not([disabled]):hover { background-color: $c-green; }

@media (max-width: 500px) {//col-xs
    .md-button.md-fab.success {
        width: 30px !important;
        height: 30px !important;
    }
    .md-button.md-fab.success i {
        font-size: 12px;
    }
    .action-container .button-text {
        max-width: 50px;
    }
}