.button-success, .button-default {
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    display: -webkit-inline-box;
    border: none;
    font-size: 14px;
    font-family: Roboto-Medium;
    font-weight: 500;
    letter-spacing: -0.03px;
    line-height: 17px;
}

.button-success {
    background-color: $c-green;
    color: $c-white;
}

.button-success[disabled] {
    background-color: $c-green-disabled;
}

.button-default { 
    background-color: transparent; 
    color: $c-green;
    box-shadow: none;
}