.button-success, .button-default, .button-default-inv, .button-blue {
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    display: -webkit-inline-box;
    border: none;
    font-size: 14px;
    font-family: Roboto-Medium;
    font-weight: 500;
    letter-spacing: -0.03px;
    line-height: 17px;
}
.button-success.sm, 
.button-default.sm, 
.button-default-inv.sm,
.button-blue.sm {
    font-size: 12px;
    height: 35px;
}
.button-blue {
    background-color: $c-blue-button;
    color: $c-white;
}
.button-success {
    background-color: $c-green;
    color: $c-white;
}

.button-success[disabled] {
    background-color: $c-green-disabled;
}

.button-default { 
    background-color: transparent; 
    color: $c-green;
    box-shadow: none;
}
.button-default.icon {
    color: #E1E1E1;
}
.button-default-inv {
    background-color: transparent; 
    color: $c-white;
    box-shadow: none;
}

.button-text {
    color: $c-black-table-header;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .12px;
    line-height: 12px;
    max-width: 85px;
}

.md-button.md-fab.success { background-color: $c-blue; }
.md-button.md-fab.success:not([disabled]):hover { background-color: $c-green; }


md-radio-button:not([disabled]).md-primary .md-on { background-color: $c-green; }
md-radio-button:not([disabled]).md-primary.md-checked .md-off,
md-radio-group:not([disabled]) .md-primary.md-checked .md-off,
md-radio-button .md-off { border-color: $c-green; }

@media (max-width: 500px) {//col-xs
    .md-button.md-fab.success {
        width: 43px!important;
        height: 41px!important;
    }
    .md-button.md-fab.success i {
        font-size: 12px;
    }
    .action-container .button-text {
        max-width: 50px;
    }
}