.dashboard-container {
    margin-top:130px;

    .carousel {
        height: 300px;
        .item img {
            height: 300px;
            width: 100%;
        }

        .carousel-control { display: none; }
        .carousel-indicators {
            top: 20%;

            li { margin-left: .6rem; }
        }
    }

    .container.dashboard {

        margin-top: -7rem;
    }
    .card-container {
        .title {
            font-family: Roboto;
            color: $c-white;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    .poster {
        position: relative;

        

        .action-container.custom {
            position: absolute;
            right: 25;
            bottom: -40px;

            .action {
                display: inline-block;
                vertical-align: top;
            }
        }
        .action-container.custom.first {
            bottom: -55px;
        }

        .grap {
            display: inline-block;
            vertical-align: top;
            margin-right: 1.5rem;
        }
    }

    md-card.notification {

        height: 155px;

        .title, .sub-title {
            font-family: Roboto;
            color: $c-black-light;
        }
        .title {
            color: #4A4A4A;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
        }
        .sub-title {
            opacity: .7;
            font-size: 12px;
            letter-spacing: -0.29px;
        }
        .link {
            font-size: 12px;
        }
        h3 {
            font-size: 30px;
            color: #4A4A4A;
            font-weight: 400;
        }
    }

    md-tabs {

        md-tabs-content-wrapper {

            md-tab-content {

                md-content {
                    background-color: transparent;
                }
            }
        }
    }
}

/*MEDIA SCREEN*/
@media (max-width: 767px) {//col-xs
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container {

        margin-top: 80px;

        .text-small, .text-medium, .text-big {
            padding-left: 0px;
        }
        .text-small { font-size: 20px; }
        .text-medium { font-size: 25px;margin-top: 12px; }
        .text-big { font-size: 30px; }
    }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container {

        margin-top: 80px;
        
        .text-small, .text-medium, .text-big {
            padding-left: 0px;
        }
        .text-small { font-size: 20px; }
        .text-medium { font-size: 25px;margin-top: 12px; }
        .text-big { font-size: 30px; }
    }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
    .dashboard-container { margin-top: 80px; }
}
@media (min-width: 1200px) {//col-lg
    .carousel-caption {
        left: 15%;
        bottom: 25%;
    }
}