dashboard {

    .poster {
        position: relative;

        md-card {height: 171px;}

        .action-container {
            position: absolute;
            right: 25;

            .action {
                display: inline-block;
                vertical-align: top;
            }

            .md-button.md-fab, .md-button.md-fab:not([disabled]):hover { background-color: $c-blue; }
            .md-button.md-fab.success, .md-button.md-fab.success:not([disabled]):hover { background-color: $c-green; }
        }
    }

    md-tabs {

        md-tabs-content-wrapper {

            md-tab-content {

                md-content {
                    background-color: transparent;
                }
            }
        }
    }  
}