firm {
    
    cursor: pointer;
    
    i {
        width: 11.36px;
        height: 11.36px;
        font-size: 16px !important;
        color: $c-gray-firm;
        margin-right: 5px;

        &.success {
            color: $c-green-firm;
        }
    }
}

.firm-detail {

    .text {
        color: $c-white;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.24px;
        line-height: 22px;
        text-transform: uppercase;
    }
    .text.green {
        color: $c-green;
    }
    .icons {
        float: right;
        margin-right: 10%;
        i { 
            font-size: 14px;
            line-height: 22px;
        }
        i.gray-firm { color: $c-gray-firm; }
        i.green-firm { color: $c-green-firm; }
    }

    // INPUT START
    .input-form {
        height: 47px;
        border-radius: 5px;
        background-color: $c-gray-background-input;
        display: -webkit-inline-box;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid $c-gray-border-input;
        position: relative;
    }

    .input-form .form-text {
        opacity: 1;
        border-radius: 0px;
        background: none;
        border: none;
        position: absolute;
    }

    .input-form .form-text label {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
        line-height: 35px;
        color: $c-black;
        display: inline-block;
        vertical-align: top;
        font-family: Roboto;
        margin-left: 1rem;
        margin-bottom: 0px;
    }

    .input-form .form-element {
        text-align: right;
        width: 100%;
    }

    .input-form .form-element input {
        width: 100%;
        border: none;
        background-color: transparent;
        text-align: right;
        color: $c-black;
        font-size: 13px;
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: -0.41px;
        line-height: 32px;
    }

    .input-form .form-element input:focus {
        outline-width: 0px !important;
    }
    // INPUT END
}