firm {
    
    cursor: pointer;
    
    i {
        width: 11.36px;
        height: 11.36px;
        font-size: 16px !important;
        color: $c-gray-firm;
        margin-right: 5px;

        &.success {
            color: $c-green-firm;
        }
    }
}

.firm-detail {

    .text {
        color: $c-white;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.24px;
        line-height: 22px;
        text-transform: uppercase;
    }
    .text.green {
        color: $c-green;
    }
    .icons {
        float: right;
        margin-right: 10%;
        i { 
            font-size: 14px;
            line-height: 22px;
        }
        i.gray-firm { color: $c-gray-firm; }
        i.green-firm { color: $c-green-firm; }
    }
}