/** FLEX GRID **/
.flex-row {
    display: flex;
    flex-flow: row nowrap;
    margin-left: -10px;
    margin-right: -10px;
    flex: 1;
  }
  .flex-row:blank {
    display: none;
  }
  .flex-row>[class^='flex-item'] {
    padding: 0 10px;
  }
  .flex-row.flex-items-no-padding>[class^='flex-item'],
  .flex-row>.flex-self-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  
  .flex-col {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }
  .flex-col>[class^='flex-item'] {
    padding: 10px 0;
  }
  .flex-col.flex-items-no-padding>[class^='flex-item'],
  .flex-col>.flex-self-no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .flex-scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .flex-scroll-x {
    overflow-y: hidden;
    overflow-x: auto;
  }
  
  .flex-items-start {
    align-items: flex-start;
  }
  .flex-items-center {
    align-items: center;
  }
  .flex-items-end {
    align-items: flex-end;
  }
  
  .flex-justify-content-start {
    justify-content: flex-start;
  }
  
  .flex-justify-content-start {
    justify-content: flex-start;
  }
  
  .flex-justify-content-end {
    justify-content: flex-end;
  }
  
  .flex-justify-content-center {
    justify-content: center;
  }
  
  .flex-self-start {
    align-self: flex-start;
  }
  .flex-self-center {
    align-self: center;
  }
  .flex-self-end {
    align-self: flex-end;
  }
  
  .flex-item {
    flex: 0 0 0;
  }
  .flex-item-1 {
    flex: 0 1 1/24 * 100%;
  }
  .flex-item-2 {
    flex: 0 1 2/24 * 100%;
  }
  .flex-item-3 {
    flex: 0 1 3/24 * 100%;
  }
  .flex-item-4 {
    flex: 0 1 4/24 * 100%;
  }
  .flex-item-5 {
    flex: 0 1 5/24 * 100%;
  }
  .flex-item-6 {
    flex: 0 1 6/24 * 100%;
  }
  .flex-item-7 {
    flex: 0 1 7/24 * 100%;
  }
  .flex-item-8 {
    flex: 0 1 8/24 * 100%;
  }
  .flex-item-9 {
    flex: 0 1 9/24 * 100%;
  }
  .flex-item-10 {
    flex: 0 1 10/24 * 100%;
  }
  .flex-item-11 {
    flex: 0 1 11/24 * 100%;
  }
  .flex-item-12 {
    flex: 0 1 12/24 * 100%;
  }
  .flex-item-13 {
    flex: 0 1 13/24 * 100%;
  }
  .flex-item-14 {
    flex: 0 1 14/24 * 100%;
  }
  .flex-item-15 {
    flex: 0 1 15/24 * 100%;
  }
  .flex-item-16 {
    flex: 0 1 16/24 * 100%;
  }
  .flex-item-17 {
    flex: 0 1 17/24 * 100%;
  }
  .flex-item-18 {
    flex: 0 1 18/24 * 100%;
  }
  .flex-item-19 {
    flex: 0 1 19/24 * 100%;
  }
  .flex-item-20 {
    flex: 0 1 20/24 * 100%;
  }
  .flex-item-21 {
    flex: 0 1 21/24 * 100%;
  }
  .flex-item-22 {
    flex: 0 1 22/24 * 100%;
  }
  .flex-item-23 {
    flex: 0 1 23/24 * 100%;
  }
  .flex-item-24 {
    flex: 0 1 24/24 * 100%;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }