.forgot {

    .title {
        text-align: center;
    }

    .step-indicators {

        span { display: block; text-align: center; }
        
        span.icon {
            width: 30px;
            height: 30px;
            line-height: 31px;
            border-radius: 50%;
            margin: 0 auto;
        }

        span.sub-title {
            font-size: 12px;
            font-weight: 400;
        }

        div.indicator.complete {

            span.icon {
                background-color: $c-blue-light;
                color: $c-white;                
            }            

            span.sub-title {
                color: $c-blue-light;
            }

            span.icon.pending {
                color: rgba(255, 255, 255, 0.8);
                background-color: $c-gray;
            }
        }

        div.indicator.pending {
            
            span.icon {
                color: rgba(255, 255, 255, 0.8);
                background-color: $c-gray;               
            }            

            span.sub-title {
                color: $c-gray;
            }
        }
    }

    md-steppers:not(.md-no-step-content):not(.md-dynamic-height) {
        min-height: 370px;
    }

    md-steppers {

        md-steppers-wrapper { display: none; }
        md-steppers-content-wrapper { 
            top: 3rem;

            md-step-content {
                overflow: initial;
            }
        }

        .title {
            display: block;
            text-align: center;
        }

        md-content {

            background-color: $c-white;

            .input {

                margin: 0px;
                // INPUT START
                .input-form {
                    height: 47px;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.19);
                    border: solid 1px rgba(74,74,74,.7);
                    display: -webkit-inline-box;
                    padding: 5px;
                    margin-bottom: 15px;
                }

                .input-form .form-text {
                    text-align: left;
                    width: 35%;
                    opacity: 1;
                    border-radius: 0px;
                    background: none;
                    border: none;
                }

                .input-form .form-text.custom {
                    width: 40%;
                }

                .input-form .form-text i {
                    color: $c-black;
                    font-size: 25px;
                    display: inline-block;
                    vertical-align: top;
                    line-height: 27px;        
                }

                .input-form .form-text label {
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 400;
                    letter-spacing: -0.36px;
                    line-height: 27px;
                    color: $c-black;
                    display: inline-block;
                    vertical-align: top;
                    font-family: Roboto;
                }

                .input-form .form-element {
                    text-align: right;
                    width: 60%;
                }

                .input-form .form-element input {
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    text-align: right;
                    color: $c-black;
                    font-size: 17px;
                    font-family: Roboto;
                    font-weight: 400;
                    letter-spacing: -0.41px;
                    line-height: 32px;
                }

                .input-form .form-element input:focus {
                    outline: transparent auto 0px;
                    outline-color: transparent;
                    outline-style: auto;
                    outline-width: 0px !important;
                }
                // INPUT END
            }

            .form-submit, .form-submit-default {
                height: 50px;
                border-radius: 3px;                
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                text-transform: uppercase;
                display: -webkit-inline-box;
                border: none;
                font-size: 14px;
                font-family: Roboto-Medium;
                font-weight: 500;
                letter-spacing: -0.03px;
                line-height: 17px;
            }
            .form-submit { background-color: $c-green; color: $c-white; }
            .form-submit-default { 
                background-color: transparent; 
                color: $c-green;
                box-shadow: none;
            }
        }
    }

    .footer {
        text-align: center;
        font-family: Roboto;
        color: #9b9b9b;

        p {
            font-size: 14px;
        }

        label {
            font-size: 20px;
        }
    }
}