header {

    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    right: 0;
    
    md-toolbar {
        height: 100px;

        .md-toolbar-tools {
            height: 100px;
            max-height: 100px;
            background-color: $c-blue;            
        }

        .links {
            padding: 0px;
            margin-bottom: 0px;
            text-align: center;
            line-height: 100px;

            li {
                list-style: none;
                display: inline-block;
                vertical-align: top;
                padding: 0px 1rem;
            }
        }

        .user-login {

            img.user-logo {
                border-radius: 50%;
                width: 70px;
                margin: 15px 0px;
            }
            .company-selector-container {

                margin: 25px 0px;

                .user-fullname {
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                }

                .company-selector {

                    span:last-child {
                        float: right;
                    }
                }
            }
        }
    }

    .menu {
        background-color: $c-white;

        .date {
            float: right;
            line-height: 48px;
            margin-right: 190px;
        }
        md-tabs {

            .md-tab { color: $c-gray; }
            .md-tab.md-active {
                color: $c-black;
            }
            md-tabs-canvas {
                md-pagination-wrapper {
                    height: 38px;
                }
            }

            md-ink-bar {
                color: $c-blue-tabs;
                background: $c-blue-tabs;
            }
            md-tab-item {
                
                padding: 10px 0px;
                margin: 0px 5rem;
            }
            md-tab-item { margin-left: 0px; }
        }
    }

    .marketina-group {
        position: relative;

        .marketina.background {
            height: 48px;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            left: 0;
            right: 0;
        }

        .marketina-container {
            height: 48px;
            position: relative;

            .prices {
                position: absolute;
                top: 0;

                md-tabs {                

                    .md-tab {
                        padding: 0px 24px;
                    }
                    md-ink-bar {
                        color: transparent;
                        background: transparent;
                    }
                    md-tabs-canvas { height: 35px; }
                    md-tab-item > div {
                        
                        color: $c-black;
                        font-weight: 700;
                        line-height: 18px;
        
                        .percent { color: $c-green; }
                    }
                }
            }
        }
    }
    .toggle-price {
        position: absolute;
        color: #fff;
        background-color: #5e9ced;
        padding: 15px 15px 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        bottom: -40px;
        width: 160px;
        right: 5rem;
    } 
}