.input-form {

    md-datepicker {

        .md-datepicker-input-container {
            width: 90%;
            margin-left: 0px;
            border-bottom: none;

            .md-datepicker-triangle-button { display: none; }
            .md-datepicker-input { width: 100%; }
        }

        .md-datepicker-button {
            md-icon { color: $c-green; }
        }
    }

    .form-element-right {
        position: absolute;
        right: 5px;

        span {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-weight: 400;
            letter-spacing: -0.36px;
            line-height: 35px;
            color: rgba(0, 0, 0, 0.8700000047683716);
            display: inline-block;
            vertical-align: top;
            font-family: Roboto;

            i {
                font-size: 18px;
                line-height: 35px;
                margin-left: 1rem;
                color: $c-green;
            }
        }
    }
    input[type="file"] {
        height: 100%;
        opacity: 0;
    }
}

md-switch.md-checked.md-primary .md-thumb {
    background-color: $c-blue-toolbar;
}

input.has-error {
	color: red;
	box-shadow: inset 0 1px 1px red;
	border-color: red;
	&:focus {
		border-color: red;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px red;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px red;
	}
}
