.footer {
    color: #9B9B9B;
    font-family: SFNSText;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 12px;
    padding-bottom: 10px;

    .footer-logo { width: 100px; }

    a { color: #9B9B9B; }
}