menu {

    padding-left: 0px;
    margin: 0px;
    .menu {
        background-color: $c-white;
        border-radius: 2px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12999999523162842), 0 2px 4px 0 rgba(0, 0, 0, 0.20000000298023224);
        height: 50px;

        .date {
            float: right;
            line-height: 48px;
            position: relative;
            opacity: .41;
            width: 20%;

            i {
                width: 12px;
                height: 12px;
                font-size: 16px;
                margin-right: 10px;
                margin-top: 15px;
            }

            label {
                color: #4A4A4A;
                font-family: Roboto;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: -0.02px;
                margin-bottom: 0px;
                position: absolute;
            }
        }
        ul.tabs {

            margin: 0px;
            padding-left: 0px;
            height: 100%;

            .tab { 
                list-style: none;
                padding: 10px 0px;
                margin: 0px 5rem;
                display: inline-block;
                vertical-align: top;
                line-height: 30px;
                
                a {
                    color: $c-black;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 0.46px;
                    padding-bottom: 3px;
                }
                a:hover {
                    text-decoration: none;
                    font-weight: 700;
                    color: #4A4A4A;
                    cursor: pointer;
                }
                a.disabled {
                    opacity: .4;
                }
                a.disabled:hover {
                    color: $c-black;
                    font-weight: 500;
                    cursor: initial;
                }
            }
            .tab:first-child { margin-left: 0px; }
            .tab.active a { 
                color: #4A4A4A;
                font-weight: 700;
                border-bottom: 3px solid $c-blue-light;
            }
        }
    }

    .menu-collapse {
        position: relative;

        .dropdown-menu {
            width: 100%;
            border-radius: 0px;
            height: 260px;
            top: -5px;
            border: none;
            box-shadow: 0 9px 12px rgba(0,0,0,.175);
            padding-bottom: 0px;

            .section .title, .link {
                display: block;
            }

            .title{  
                
                position: relative;

                i {
                    color: $c-blue-light;
                    width: 20px;
                    height: 17px;
                    margin-right: 2rem;
                }
                label {
                    color: #4A4A4A;
                    font-family: Roboto;
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: 0.61px;
                    line-height: 20px;
                    margin-bottom: 0px;
                    position: absolute;
                }
            }
            .title.extra {
                color: #4A4A4A;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.61px;
                line-height: 20px;
                margin-bottom: 2rem;
            }

            .extra-title { opacity: .6; }

            .link {
                color: #4A4A4A;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.46px;
                line-height: 16px;
                margin-bottom: 1.5rem;
                margin-left: 4rem;
            }

            .picture {
                padding-right: 0px;
                
                img {
                    float: right;
                    height: 100%;
                }
            }
            
        }
    }

    .marketina-group {
        position: relative;

        .marketina.background {
            height: 48px;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            left: 0;
            right: 0;
        }

        .marketina-container {
            height: 48px;
            position: relative;

            .prices {
                position: absolute;
                top: 0;

                md-tabs {                

                    .md-tab {
                        padding: 0px 24px;
                    }
                    md-ink-bar {
                        color: transparent;
                        background: transparent;
                    }
                    md-tabs-canvas { height: 35px; }
                    md-tab-item > div {
                        
                        color: $c-black;
                        font-weight: 700;
                        line-height: 18px;
        
                        .percent { color: $c-green; }
                    }
                }
            }
        }
    }

    .toggle-price {
        position: absolute;
        color: #fff;
        background-color: #5e9ced;
        font-family: Roboto;
        padding: 10px 15px 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        bottom: -38px;
        width: 160px;
        right: 5rem;
        z-index: -1;
        font-weight: 600;
    }
    .toggle-price:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
