menu {
    z-index: 6;
    padding-left: 0px;
    margin: 0px;
    .menu {
        background-color: $c-white;
        border-radius: 2px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12999999523162842), 0 2px 4px 0 rgba(0, 0, 0, 0.20000000298023224);
        height: 50px;

        .date {
            float: right;
            line-height: 48px;
            position: relative;
            opacity: .41;
            width: 20%;

            i {
                width: 12px;
                height: 12px;
                font-size: 16px;
                margin-right: 10px;
                margin-top: 15px;
            }

            label {
                color: $c-black-table-header;
                font-family: Roboto;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: -0.02px;
                margin-bottom: 0px;
                position: absolute;
            }
        }
        .tabs {

            md-ink-bar {
                color: $c-blue-light;
                background: $c-blue-light;
                height: 3px !important;
            }
            md-pagination-wrapper { height: 40px; }
            md-tab-item {
                padding: 0px 0px;
                margin: 0px 3rem;
                line-height: 48px;
                color: $c-black-table-header;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.46px;
                opacity: .5;
            }
            md-tab-item:first-child { margin-left: 0px; }
            .md-tab.md-active { cursor: pointer;opacity: 1; }
        }
    }

    .menu-collapse {
        position: relative;
        z-index: 1;
        p {font-family: Roboto;}

        .menu-body {
            width: 100%;
            border-radius: 0px;
            height: 250px;
            border: none;
            box-shadow: 0 9px 12px rgba(0,0,0,.175);
            padding-bottom: 0px;
            padding-top: 0px;
            margin-top: 0px;
            background-color: $c-white;

            .panel-group {
                margin-bottom: 0px;

                .panel { margin: 0px;border: none; }
            }
            .panel-heading { display: none; }
            .panel-body { padding: 0px; }
            .panel-collapse { transition: height 0.15s ease-in-out; }

            .section .title, .link {
                display: block;
            }

            .title{

                position: relative;

                i {
                    color: $c-blue-light;
                    width: 20px;
                    height: 17px;
                    margin-right: 2rem;
                }
                label {
                    color: $c-black-table-header;
                    font-family: Roboto;
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: 0.61px;
                    line-height: 20px;
                    margin-bottom: 0px;
                    position: absolute;
                }
            }
            .not-title {padding-top: 1.5rem;}
            .title.extra {
                color: $c-black-table-header;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.61px;
                line-height: 20px;
                margin-bottom: 2rem;
            }

            .extra-title { opacity: .6; }

            .link {
                color: $c-black-table-header;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.46px;
                line-height: 16px;
                margin-bottom: 1.5rem;
                margin-left: 4rem;
            }
            .link a {
                color: $c-black-table-header;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.46px;
                line-height: 16px;
            }
            .link a, .link a:hover {
                text-decoration: none;
            }
            .link a.active {
				color: $c-blue-light;
				font-weight: bold;
			}

            .picture {
                padding-right: 0px;
                background-size: cover;
                height: 100%;
            }
            .picture.inicio {
                background-image: url('images/menu_dashboard.jpg');
                background-repeat: no-repeat;
                background-position: 120% 24%;
                background-size: 55%;
                padding-left: 0px;

                .text-container {
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(90deg, $c-white 54%, rgba(15, 42, 79, 0) 100%);
                    padding-top: 8px;

                    .container-inner { width: 320px; }

                    .title-text {
                        color: $c-black-light;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: -0.48px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }
                    .middle-text {
                        color: $c-black-table-header;
                        font-family: HelveticaNeue;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: -0.34px;
                        line-height: 17px;
                        margin-bottom: 17px;
                    }
                    .text-extra {
                        color: $c-black-table-header;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: -0.24px;
                        line-height: 14px;
                    }
                    button {
                        background-color: #000000;
                        border: 1.13px solid #A6A6A6;
                        border-radius: 5.67px;
                        color: $c-white;
                        padding: 3px 6px;

                        img {
                            display: block;
                            float: left;
                            width: 31px;
                            margin-right: 8px;
                            margin-top: 2px;
                        }
                        small {
                            display: block;
                            float: left;
                            font-size: 10px;
                        }
                        span {
                            font-size: 16px;
                            font-weight: 900;
                            float: left;
                        }
                    }
                    button.google { width: 140px; }
                    button.store { width: 131px; }
                }
            }
            .picture.transferencia {
                background-image: url('images/menu_transfer.jpg');
                background-repeat: no-repeat;
                background-position: 101% 97%;
                background-size: 443px;
                padding-left: 0px;

                .text-container {
                    height: 100%;
                    width: 100%;
                    padding-right: 100px;
                    background: linear-gradient(90deg, $c-white 52%, rgba(15, 42, 79, 0) 100%);
                    padding-top: 8px;

                    .container-inner { width: 320px; }

                    .title-text {
                        color: $c-black-light;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: -0.48px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }
                    .middle-text {
                        color: $c-black-table-header;
                        font-family: HelveticaNeue;
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: -0.34px;
                        line-height: 17px;
                        margin-bottom: 17px;
                    }
                    .text-extra {
                        color: $c-black-table-header;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: -0.24px;
                        line-height: 14px;
                    }
                    button.button-success { height: 45px; }
                }
            }
            .picture.product {
                background-image: url('images/menu_investments.jpg');
                background-repeat: no-repeat;
                background-position: 105% 2%;
                background-size: 410px;
                padding-left: 0px;

                .text-container {
                    height: 100%;
                    width: 100%;
                    padding-right: 200px;
                    background: linear-gradient(90deg, $c-white 54%, rgba(15, 42, 79, 0) 100%);
                    padding-top: 8px;

                    .container-inner { width: 320px; }

                    .title-text {
                        color: $c-black-light;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: -0.48px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }
                    .middle-text {
                        color: $c-black-table-header;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: -0.34px;
                        line-height: 17px;
                        margin-bottom: 17px;
                    }
                    .text-extra {
                        color: $c-black-table-header;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: -0.24px;
                        line-height: 14px;
                    }
                    button.button-success { height: 45px; }
                }
            }

        }
    }

    .marketina-group {
        position: relative;

        .marketina.background {
            height: 48px;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            left: 0;
            right: 0;
            z-index: -3;
        }

        .marketina-container {
            height: 48px;
            position: relative;
            z-index: 0;

            .prices {

                md-tabs {

                    .md-tab {
                        padding: 0px 24px;
                    }
                    .md-tab.md-disabled {opacity: 1;}
                    md-ink-bar {
                        color: transparent;
                        background: transparent;
                    }
                    md-tabs-canvas { height: 35px; }
                    md-tab-item > div {

                        color: $c-black;
                        font-weight: 700;
                        line-height: 18px;

                        .money, .price {color: #000;}
                        .money, .percent { font-size: 10px;font-family: Roboto; }
                        .price { font-size: 12px;font-family: Roboto; }
                        .percent { color: $c-green; }
                    }
                }
            }
        }
    }

    .toggle-price {
        position: absolute;
        color: $c-white;
        background-color: $c-blue-light;
        font-family: Roboto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        bottom: -30px;
        width: 145px;
        right: 5rem;

        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.03px;
        line-height: 30px;
        height: 30px;
        padding: 0px 12px;
        z-index: 0;

        .icon {
            margin-top: 8px;

            i {
                font-size: 18px;
            }
        }
    }
    .toggle-price:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
