.modal.fullscreen {

    .modal-dialog {
        width: 100%;
        margin: 0px auto;
        position: absolute;
        min-height: 100vh !important;

        .modal-content {
            height: 100%;
            border-radius: 0px;
            border: none;
            min-height: 100vh !important;

            .header {

                height: 52px;

                .logo {
                    width: 159px;
                    height: 52px;
                    position: absolute;
                    top: 10;
                    left: 10;
                }

                .close {

                    position: absolute;
                    top: 25;
                    right: 25;

                    i {
                        font-size: 34px;
                    }
                }
            }

            & .container > .title,
            & .container > .sub-title {
                text-align: center;
                font-weight: 400;
                font-family: Roboto;                
            }
            & .container > .title {
                font-size: 24px;                
                color: $c-black-table-header;
                letter-spacing: -0.05px;
            }
            & .container > .sub-title {
                color: rgba(0, 0, 0, 0.8700000047683716);
                font-size: 18px;
                letter-spacing: -0.03px;
            }
        }
    }
}

.modal.bottom-confirm {

    .modal-dialog.modal-lg { 
        width: 100%;
        bottom: 0;
        position: absolute;
        margin: 0px;

        .modal-content { 
            border-radius: 0px;
            padding: 2rem;
            background-color: $c-green;

            .message {
                line-height: 51px;
                color: $c-white;
            }
        }
    }
}

@media (max-width: 767px) {//col-xs
    
    .modal.fullscreen {
        
        .modal-dialog {
            width: 100%;
            margin: 0px auto;
    
            .modal-content {
                height: 100%;
            }
        }
    }

    .modal.bottom-confirm .message label { line-height: 18px; }
    .modal.bottom-confirm.finish .message label { line-height: 50px; }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
    
    .modal.fullscreen {
        
        .modal-dialog {
            width: 100%;
            margin: 0px auto;
    
            .modal-content {
                height: 100%;
            }
        }
    }

    .modal.bottom-confirm .message label { line-height: 18px; }
    .modal.bottom-confirm.finish .message label { line-height: 50px; }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
    
    .modal.fullscreen {
        
        .modal-dialog {
            width: 100%;
            margin: 0px auto;
    
            .modal-content {
                height: 100%;
            }
        }
    }
}
@media (min-width: 1200px) {//col-lg
    
    .modal.fullscreen {
        
        .modal-dialog {
            width: 100%;
            margin: 0px auto;
    
            .modal-content {
                height: 100%;
            }
        }
    }
}