.modal.fullscreen {

    .modal-dialog {
        width: 100%;
        margin: 0px auto;
        position: absolute;
        min-height: 100vh !important;

        .modal-content {
            height: 100%;
            border-radius: 0px;
            border: none;
            min-height: 100vh !important;

            .header {

                height: 52px;

                .logo {
                    width: 159px;
                    height: 52px;
                    position: absolute;
                    top: 10;
                    left: 10;
                }

                .close {

                    position: absolute;
                    top: 25;
                    right: 25;

                    i {
                        font-size: 34px;
                    }
                }
            }

            & .container > .title,
            & .container > .sub-title {
                text-align: center;
                font-weight: 400;
                font-family: Roboto;
            }
            & .container > .title {
                font-size: 24px;
                color: $c-black-table-header;
                letter-spacing: -0.05px;
            }
            & .container > .sub-title {
                color: rgba(0, 0, 0, 0.8700000047683716);
                font-size: 18px;
                letter-spacing: -0.03px;
            }
        }
    }
}

.modal {

    &.bottom-confirm {

        .modal-dialog.modal-lg {
            width: 100%;
            bottom: 0;
            position: absolute;
            margin: 0px;

            .modal-content {
                border-radius: 0px;
                padding: 2rem;
                background-color: $c-green;
                border: none;

                .message {
                    line-height: 51px;
                    color: $c-white;
                }
            }
        }
    }
    &.bottom-danger {

        .modal-dialog.modal-lg {
            width: 100%;
            bottom: 0;
            position: absolute;
            margin: 0px;

            .modal-content {
                border-radius: 0px;
                padding: 2rem;
                background-color: $c-red-remove;
                border: none;

                .message {
                    line-height: 51px;
                    color: $c-white;
                }
            }
        }
    }
    &.bottom-warning {

        .modal-dialog.modal-lg {
            width: 100%;
            bottom: 0;
            position: absolute;
            margin: 0px;

            .modal-content {
                border-radius: 0px;
                padding: 2rem;
                background-color: $c-yellow-remove;
                border: none;

                .message {
                    line-height: 51px;
                    color: $c-gray-txt-modal;
                }
            }
        }
    }
}

.firm-detail {
    .modal-dialog {
        .modal-content {
            background-color: $c-black-table-header;
            padding: 15px;

            .modal-header { padding: 0px; }
            .modal-header {
                border-bottom: 1px solid #979797;
                padding-bottom: 7px;

                .modal-title {
                    color: $c-white;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: -0.24px;
                    line-height: 16px;
                }
            }

            .modal-body {
                padding: 10px 0px 5rem 0px;

                span.text-notification {
                    color: $c-gray-txt-modal;
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: 0.39px;
                    line-height: 22px;
                    margin-bottom: 1rem;
                }
            }
            .modal-footer {
                padding-bottom: 0px;
                padding-top: 10px;
                border-top: 1px solid #979797;

                &.no-border { border-top: none; }
                span {
                    color: $c-gray-txt-modal;
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: 0.39px;
                    line-height: 13px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    margin-top:10em;
}

.modal.bottom-warning.authorize .modal-dialog.modal-lg .modal-content .message {
    line-height: 17px;
    b {
        color: #62645D;
    }

   .input-form {
        height: 47px;
        border-radius: 5px;
        background-color: #fafafa;
        display: -webkit-inline-box;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid #ececec;
        position: relative;
        width: 70%;
       .form-text {
            opacity: 1;
            border-radius: 0;
            background: none;
            border: none;
            position: absolute;
            label {
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                font-weight: 400;
                letter-spacing: -.36px;
                line-height: 35px;
                color: rgba(0,0,0,.87);
                display: inline-block;
                vertical-align: top;
                font-family: Roboto;
                margin-left: .2rem;
                margin-bottom: 0;
             }
        }
        .form-element {
            text-align: right;
            width: 100%;
             input {
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    text-align: right;
                    color: rgba(74,74,74,.7);
                    font-size: 12px;
                    font-family: Roboto;
                    font-weight: 400;
                    letter-spacing: -.41px;
                    line-height: 32px;
                }
        }
    }
}
.modal.bottom-warning.authorize{
    .button-default-inv {
        background-color: transparent;
        color: #62645D;
        box-shadow: none;
    }
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@media (max-width: 767px) {//col-xs

    .modal.fullscreen {

        .modal-dialog {
            width: 100%;
            margin: 0px auto;

            .modal-content {
                height: 100%;
            }
        }
    }

    .modal.bottom-confirm .message label { line-height: 18px; }
    .modal.bottom-confirm.finish .message label { line-height: 50px; }
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm

    .modal.fullscreen {

        .modal-dialog {
            width: 100%;
            margin: 0px auto;

            .modal-content {
                height: 100%;
            }
        }
    }

    .modal.bottom-confirm .message label { line-height: 18px; }
    .modal.bottom-confirm.finish .message label { line-height: 50px; }
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md

    .modal.fullscreen {

        .modal-dialog {
            width: 100%;
            margin: 0px auto;

            .modal-content {
                height: 100%;
            }
        }
    }
}
@media (min-width: 1200px) {//col-lg

    .modal.fullscreen {

        .modal-dialog {
            width: 100%;
            margin: 0px auto;

            .modal-content {
                height: 100%;
            }
        }
    }
}
