status {

    .status-container { 
        position: relative;

        div { 
            display: inline-block;
            vertical-align: middle;
        }
        div.icon { 
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            margin-right: 5%;

            span {
                line-height: 20px;
                color: $c-white;
            }
        }
        div.icon.orage {
            background-color: #FFB000;
        }
        div.icon.green {
            background-color: $c-green;
        }
        div.text { width: 70%; }
    }
}