md-sidenav.md-sidenav-right {
    background-color: $c-blue;

    .user-avatar {
        width: 150px;
        border-radius: 50%;
    }

    .data, .pass, .communication {
        color: $c-white;
    }
}

/*MEDIA SCREEN*/
@media (max-width: 767px) {//col-xs
}
@media (min-width: 768px) and (max-width: 991px)  {//col-sm
}
@media (min-width: 992px) and (max-width: 1199px)  {//col-md
}
@media (min-width: 1200px) {//col-lg

    md-sidenav {width: 460px;}
}